[2021-02-04 06:53] parikshitdutta commented on #1064
Hi @benas,
Now that we are moving into 5.x releases, just wanted to check with you and @mminella, if this can be useful feature for upcoming 5.x releases.

Thank you.

[2021-02-04 07:06] parikshitdutta commented on #1055
Hi @benas,
I am working on this one, you can assign to me if you like.

Thank you.

[2021-02-04 10:16] benas commented on #1064
@parikshitdutta This is not critical, it could be addressed with a custom buffered reader as shown previously. Now adding this buffered reader as a built-in component in Spring Batch can be done in a minor version of the v5 line (5.1, 5.2, etc). For 5.0, we will be focusing on big changes that were not possible to introduce in minor versions of v4. We are currently working on our future release pl

[2021-02-04 10:30] benas commented on #1055
@parikshitdutta Great! Thank you for letting me know about that. I did not evaluate the impact of this change request yet, but the changes here might overlap with those required for #3650, for which I opened a draft PR (see #3845). If this is the case, please make sure to take into account those changes to avoid duplicate efforts. Otherwise, there would be no issue, we would have two independent P

[2021-02-04 10:50] bbohosyan commented on #3839
Can I take this one, too ?

[2021-02-04 17:13] parikshitdutta commented on #1064
Thanks @benas for detailed information, and linking the PR to respective issue.

[2021-02-08 02:59] HomoEfficio opened #3846 "StepExecution.getEndTime() returns null in StepExecutionListener.afterStep()"
**Bug description**

StepExecution.getEndTime() invoked inside StepExecutionListener.afterStep() returns null.

It should return a valid time, according to the [API docs](https://docs.spring.io/spring-batch/docs/current/api/org/springframework/batch/core/StepExecutionListener.html#afterStep-org.springframework.batch.core.StepExecution-) which says below:

I already checked the similar isssue, http

[2021-02-08 12:48] fmbenhassine opened #3847 "Intermittent failure in ConcurrentTransactionAwareProxyTests on windows"
`ConcurrentTransactionAwareProxyTests` fails intermittently on windows.

As a side note, the only production usage of `ConcurrentTransactionAwareProxy` is in `MapExecutionContextDao` which is deprecated for removal.

[2021-02-09 13:42] benas opened #3848 "Regression in the "Configuring and Running a Job" section of the reference documentation"
The changes introduced in #620 are present in v4.2 but not in v4.3:

* 4.2.x: https://docs.spring.io/spring-batch/docs/4.2.x/reference/html/job.html#javaConfig
* 4.3.x: https://docs.spring.io/spring-batch/docs/4.3.x/reference/html/job.html#javaConfig

This regression seems to be related to efdce562b0e71695221f6b165ab5979a9b6c3e66. @Buzzardo Could you please confirm that?

[2021-02-09 16:09] Buzzardo commented on #3848
I confirm. I'll get it fixed.

[2021-02-11 09:38] fmbenhassine opened #3850 "Intermittent failure in JsrPartitionHandlerTests.testPollingPartitionsCompletion on windows"
`JsrPartitionHandlerTests.testPollingPartitionsCompletion` fails  intermittently on windows with the following error:

[code]

That's all from the build log, no additional stacktrace from surefire's individual test report neither.

NB: the test fails only on the command line, it runs correctly from the IDE (tested with IntelliJ Idea).

[2021-02-11 09:46] benas opened #3851 "Intermittent failure in ConcurrentTransactionTests on windows"
`org.springframework.batch.core.test.concurrent.ConcurrentTransactionTests.testConcurrentLongRunningJobExecutions` fails intermittently on windows from the command line with the following error:

[code]

[2021-02-11 11:03] nfjcore commented on #3851
This test also fails for me when running all tests in spring-batch-core.  The test passes in isolation. I'm on MacOS. Let me know if I can provide additional information.

[2021-02-11 12:48] benas commented on #3851
@nfjcore I'm also on MacOS (Catalina v10.15.7) and this test didn't fail up until now when I build locally with Java 8:

[code]

It did not fail neither on our [CI server](https://build.spring.io/browse/BATCH-MCI-17). But if you say it fails on your machine, I trust you.

Yes, please. Which java version do you use? Do you use the maven wrapper or your local maven installation?

[2021-02-11 15:17] nfjcore commented on #3851
I am using the following java version:

[code]

I should have specified it before, but ``org.springframework.batch.core.test.concurrent.ConcurrentTransactionTests`` fails only when I right click ``spring-batch-core/src/test/java`` and select ``Run 'All Tests'`` in Intellij.

If I'm using the Maven wrapper ``LdifReaderTests.testValidRun`` is failing. But I guess this is beyond the scope of this iss

[2021-02-11 16:06] benas opened #3852 "Intermittent failure in AsynchronousTests on windows"
`org.springframework.batch.repeat.jms.AsynchronousTests` [fails intermittently on windows](https://build.spring.io/download/BATCH-BATCHWIN-JOB1/build_logs/BATCH-BATCHWIN-JOB1-299.log) with the following error:

[code]

When I remove this test class or add `org.junit.Ignore` on it, then another test `org.springframework.batch.repeat.jms.SynchronousTests` fails:

[code]

Here is the content of `C:\p

[2021-02-12 21:33] hpoettker commented on #3794
The problem is that the current logic gives the candidate `update(String sql, Map<String, ?> paramMap)` a perfect of `typeDiffWeight` of 0 as only the `String` parameter is actually weighed.

The correct method to choose is `update(String sql, SqlParameterSource paramSource)` which gets a non-zero weight because `MapSqlParameterSource` is a subtype of `SqlParameterSource`.

[2021-02-15 08:44] szopal opened #3854 "FlatFileItemWriter which use GoogleCloudResource throw java.lang.UnsupportedOperationException"
Hi,

I would like to use FlatFileItemWriter to write files to Google Cloud Storage, but when I use GoogleCloudResource in FlatFileItemWriterBuilder it throw me error:

[code]

I would like to use local file and Google Cloud Storage dynamically, without create two writers - one for local files second for Google Cloud Storage (nowadays I can write to Google Cloud Storage by use this https://github.c

[2021-02-15 09:27] benas commented on #816
Related/Similar issue: https://github.com/spring-projects/spring-batch/issues/838.

[2021-02-19 04:24] karthikkesarla opened #3855 "Could you please add java.sql.Timestamp to trusted classes in jackson2executioncontextstringserializer"
Even though you add trustedclassnames to Jackson2ExecutionContextStringSerializer ('java.sql.Timestamp'). It's agin overridden by basicbatchconfigurer.afterPropertieset() which will call initilize(). Which will again override serilizer with jackson2executioncontextstringserilizer (); in spring boot project. Because of which adding java.sql.Timestamp has no effect.

[2021-02-23 11:16] benas commented on #3848
Fixed in #3849 .

[2021-02-23 11:16] #3848 closed

[2021-02-24 19:31] ee-usgs opened #3857 "SplitBuilder.add(Flow) causes hung execution in some cases"
**Bug description**
If `FlowBuild.SplitBuilder.add(Flow)` is called multiple times to dynamically build a list of Flows, the result is a Flow that will hang.
Calling `FlowBuild.SplitBuilder.add(Flow[])` with an array of Flows works as expected.

For instance, this does not error, but does not work as expected:
[code]

However, this does work:
[code]

**Why would you call `FlowBuild.SplitBuilder.ad

[2021-02-25 09:04] benas opened #3858 "Missing examples of remote chunking/partitioning configuration with the batch-integration XML namespace"
As of 4.3, the [section](https://docs.spring.io/spring-batch/docs/4.3.x/reference/html/spring-batch-integration.html#externalizing-batch-process-execution) related to `RemoteChunking[Manager/Worker]Builder` and `RemotePartitioning[Manager/Worker]Builder` APIs provides only the Java configuration style for code examples. The equivalent XML samples based on the `batch-integration` namespace are miss

[2021-02-25 10:10] benas commented on #3857
Thank you for reporting this issue and for providing a minimal example. I will let you know in which release this will be addressed.

[2021-02-27 19:43] adrianbielewicz opened #3859 "AvroItemWriter uses GenericDatumWriter instead of SpecificDatumWriter for type that extends SpecificRecordBase"
**Bug description**
I am generating Java code from an Avro schema. It creates classes that extend SpecificRecordBase. In this case AvroItemWriter automatically chooses GenericDatumWriter as the underlying writer. This causes multiple exceptions when logical types are used in the schema (for example decimal or timestamp-millis).

It would work perfectly if SpecificDatumWriter is used. I believe tha

[2021-03-01 10:41] benas commented on #3830
Fixed in #3832 .

[2021-03-01 10:41] #3830 closed

[2021-03-01 12:40] #3855 closed

[2021-03-01 12:48] benas commented on #3855
This has been done in 1d23d66e27acc679319327150cffa38b9d3efc1b. FTR, I thought about taking the opportunity to add `java.sql.Time` as well but Jackson seems to be unable to deserialize its own serialized `java.sql.Time` instance with the default configuration. The following test fails:

[code]

while this one passes:

[code]

This seems to be a valid point. Please open an issue against Spring Boot

[2021-03-02 16:51] benas commented on #1479
Fixed in #3844 .

[2021-03-02 16:51] #1479 closed

[2021-03-02 22:47] desprez commented on #3699
May be late but i made this example to demonstrate "Multiple Job unit testing with **@SpringBatchTest** **@SpringbootTest** and **Modular configuration**"

https://github.com/desprez/springbatch-modular

I think this case may be more common than you think and hope it can help others

[2021-03-03 21:57] benelog commented on #3782
Another solution is to use `Iterator` like [IteratorItemReader](https://github.com/spring-projects/spring-batch/blob/master/spring-batch-infrastructure/src/main/java/org/springframework/batch/item/support/IteratorItemReader.java
)

[code]

The `iterator()` methods in both `ArrayList` and `LinkedList` provide the optimized `Iterator` instances for this access pattern.

[2021-03-04 01:53] Scorpio-ljc commented on #759
I also encountered the same problem,Is this problem solved?

[2021-03-05 20:46] parikshitdutta commented on #1055
Apparently updating read counters to ```long``` in ```AbstractItemCountingItemStreamItemReader``` should help it's immediate derivatives such as ```FlatFileItemReader```, ```JpaCursorItemReader```, but the refactoring going to touch several core areas such as:

https://github.com/spring-projects/spring-batch/blob/a6f283b4a8a691507d0d30521f50b846db46671f/spring-batch-infrastructure/src/main/java/or

[2021-03-08 14:27] prakashpalakkarai commented on #3766
Thank you for the response. We also use spring batch admin along with Spring Batch 3. Not sure if that is still available with Spring Batch 4.3.1. I tried to see if we can upgrade to Spring Framework 4.3.9 earlier and was not able to because Spring Batch Admin was not supported. Is there an alternative for Spring Batch Admin with the upgrade to Spring Batch 4.3.1 and Spring framework along with it

[2021-03-08 15:35] benas commented on #3766
Yes, it is [Spring Cloud Data Flow](https://dataflow.spring.io). Spring Batch Admin has been deprecated and archived several years ago in favor of SCDF. You can find a migration guide [here](https://github.com/spring-attic/spring-batch-admin/blob/master/MIGRATION.md).

You did not confirm that, so I'm closing this issue. If you still have the problem with v4.3.1 and `Jackson2ExecutionContextString

[2021-03-08 15:35] #3766 closed

[2021-03-09 13:57] #3773 closed

[2021-03-10 08:08] umutcann opened #3862 "Spring Batch consume job parameters from sources other than the command line!"
Hi there,

I was facing an restart capability issue in SCDF. And it was followed in this [issue](https://github.com/spring-projects/spring-boot/issues/23411#issuecomment-782133484).

Is there any planning/milestone for that?

Thanks.

[2021-03-10 09:33] benas commented on #3745
Fixed in #3843 .

[2021-03-10 09:33] #3745 closed

[2021-03-10 18:25] desprez commented on #1139
If it help i wrote this class based on BeanWrapperFieldExtractor

`	public class CSVQuotingBeanWrapperFieldExtractor<T> implements FieldExtractor<T>, InitializingBean {

		private String[] names;

		/**
		 * @param names field names to be extracted by the {@link #extract(Object)}
		 *              method.
		 */
		public void setNames(final String[] names) {
			Assert.notNull(names, "Names must be

[2021-03-10 22:27] cppwfs commented on #3862
Hello @umutcann ,
Currently we are handling that issue here: https://github.com/spring-cloud/spring-cloud-dataflow/issues/4398.

[2021-03-11 08:46] Jenson3210 opened #3863 "FlatFileItemWriter creates empy line at eof. Could we allow option to disable?"
**Expected Behavior**

To have an option in the FlatFileItemWriterBuilder that allows you to disable the empty line at eof. `.noEmptyLineAtEndOfFile()` in the example.
[code]
could result in a file that has no last empty line by altering the writer `doWrite` method.

**Current Behavior**

The for loop appends this.lineseparator at end of String that will be written to file.
[code]

**Context**

-

[2021-03-11 09:31] #1629 closed

[2021-03-12 09:06] fmbenhassine opened #3865 "Update reference documentation to use Spring Asciidoctor Backend"
For consistency with other projects from the portfolio, the reference documentation should be updated to use the [Spring Asciidoctor Backends](https://github.com/spring-io/spring-asciidoctor-backends).

[2021-03-12 09:46] fmbenhassine opened #3866 "Intermittent failure in TaskExecutorRepeatTemplateAsynchronousTests"
`TaskExecutorRepeatTemplateAsynchronousTests#testThrottleLimit` fails intermittently with an `ArrayIndexOutOfBoundsException`, see [build log](https://build.spring.io/browse/BATCH-NIGHTLY-JOB1-5128/test/case/290164400).

[2021-03-12 10:01] benas commented on #759
@Scorpio-ljc I believe this is a duplicate of #1124 and #1208. Do you confirm?

Do you have a failing test or a minimal example that reproduces the issue?

[2021-03-12 17:37] #1240 closed

[2021-03-12 17:38] benas commented on #1240
Closing this as no enough details are provided to reproduce the issue.

[2021-03-12 17:39] benas commented on #1241
Closing this as no enough details are provided to reproduce the issue.

[2021-03-12 17:39] #1241 closed

[2021-03-12 19:12] benas commented on #1732
This is a duplicate of #1826 .

[2021-03-12 19:12] #1732 closed

[2021-03-12 20:30] benas commented on #1330
Closing this in favor of https://github.com/spring-projects/spring-batch-extensions/pull/5.

[2021-03-12 20:30] #1330 closed

[2021-03-17 13:12] grimch commented on #1127
I was able to track down the issue to the use of "PRIMARY KEY" qualifier in the create table statements in combination with Oracle transaction isolation level "SERIALIZABLE".
One can test this with this simple SQL script:
CREATE TABLE test1 (
    test_id NUMBER(1) NOT NULL PRIMARY KEY
);

SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;
INSERT INTO test1 VALUES ( 1 );
COMMIT;
Result: ORA-08177 Error.

[2021-03-18 08:06] benas commented on #3835
Closing this as v4.2.6 is now released: https://github.com/spring-projects/spring-batch/releases/tag/4.2.6.RELEASE.

[2021-03-18 08:06] #3835 closed

[2021-03-19 07:13] maoshuai commented on #3820
Why move back from Gradle to maven?

[2021-03-19 13:51] benas commented on #3820
Spring Batch used maven since its creation. Switching to gradle was an attempt to achieve consistency across the portfolio. Unfortunately, this consistency was not achieved, so we decided to go back to maven.

[2021-03-19 17:15] benas commented on #1127
@grimch

Thank you very much for this analysis! I'm not expert at oracle, but if this `SEGMENT CREATION IMMEDIATE;` turns out to be the solution, I would re-open this issue and update the DDL scripts for oracle accordingly.

@P-Hartford

This would be very important indeed. Do you have any reference to that from the official oracle documentation?

This seems to be accurate based on the [reference]

[2021-03-19 19:59] parikshitdutta commented on #3863
Hi @benas,
Since this is awaiting triage, wanted to check with you.

The following test from ```FlatFileItemWriterTests``` shows, the trailing separator being added. And there is no easier way to disable that for now.

[code]

[2021-03-21 01:11] omar-napoleon commented on #1008
Hello. Is there a way to integrate rsocket (reactor) into an ItemProcessor? I have the following problem. I have to call a server with tcp but when sending the data I need the response to process the data and be able to send it to the itemwriter, but waiting for the response delays all my processing. I need the communication to be asynchronous with the server but not to queue the next iterations o

[2021-03-21 07:48] parikshitdutta commented on #1577
Hi @benas, Please have a look at my submitted PR #3869, I will look forward to your feedback.

Thank you.

[2021-03-22 05:44] ssanghavi-appdirect commented on #3790
We are facing same issue. When number of steps in a job increases it leads to OOM, killing the manager jvm.
Is there a plan to fix this?

[2021-03-22 16:26] benas opened #3870 "4.2.7 Backported issues"
* Build failure on Java 16 #3877
* SimpleJobRepository should ignore non-identifying JobParameters #1221
* Setting item processor property with lambda error #3749
* Override SimpleStepBuilder.faultTolerant() in FaultTolerantStepBuilder #3840
* JdbcCursorItemReaderBuilder defaults verifyCursorPosition to false, but its Javadoc says the opposite #3893
* Improve code example in "Configuring and Runni

[2021-03-22 16:58] benas commented on #3790
@PauliusPeciura Thank you for reporting this issue and for opening a PR! I would like to be able to reproduce the issue first in order to validate a fix if any. From your usage of `MessageChannelPartitionHandler`, I understand that this is related to a remote partitioning setup. However, you did not share your job/step configuration. Is a job with a single partitioned step configured with a high n

[2021-03-23 07:37] parikshitdutta commented on #1035
Hi @benas, Please assign me the task, I am starting work on this one.

[2021-03-23 08:58] benas commented on #1035
Hi @parikshitdutta ,

Thank you for your offer to help.

[code]

We have a feature request to use timezone aware datatypes (see #871), so I'm not sure `LocalDateTime` would be the right datatype to use if we decide to implement #871. I did not evaluate the impact of such a change yet, so I would like to take some time to think about the best design choices for this feature.

Please note that we di

[2021-03-23 10:40] parikshitdutta commented on #1035
Thanks @benas for sharing the information.
This one can wait, meanwhile I better look into some other issues.

[2021-03-23 12:34] ssanghavi-appdirect commented on #3790
@benas I am able to reproduce with `TaskExecutorPartitionHandler` as well. However the fix provided by @PauliusPeciura is very specific to DB polling and won't fix what I reproduced with `TaskExecutorPartitionHandler`
Basically this issue can occur in any code path that is holding references to `StepExecution` objects returned by `JobExplorer.getStepExecution`. Similar code exists in `RemoteStepEx

[2021-03-24 14:18] benas opened #3871 "Setup a CI build plan for GraalVM"

[2021-03-24 15:48] grimch commented on #1127
@benas
Official Oracle documentation depends on the Oracle version used, but from what I could see there are only two isolation levels that one can set interactively:
SET TRANSACTION ISOLATION LEVEL READ COMMITTED
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE

(I don't know if it is allowed to deep-link Oracle documentation here but by searching for "SET TRANSACTION ISOLATION LEVEL" and going to on

[2021-03-25 17:24] benas commented on #1008
First of all, Reactive Streams are designed for data streams (infinite) while Spring Batch is a batch processing framework designed for fixed datasets (finite). In my opinion, this is already a fundamental mismtatch that can result in a non-natural integration between these two tools.

Now even if we try to introduce "reactive" in some way in Spring Batch, we need to be careful about several desig

[2021-03-26 11:25] jjmargon commented on #1008
Very interesting last comment by benas. It's true that Spring Batch has the "chunk" (i.e., **finite** data) concept deeply extended in the framework. Also, in Batch applications or jobs, you don't usually have concurrency issues as you do in APIs with an external interface (ex, a REST API). Recall that Reactive applications won't be faster. They're just there to optimize computing resources with I

[2021-03-27 12:46] EdgardHernandezp opened #3875 "ScripItemProcessor python implementation"
I wanted to use a web scraping python script in my batch program but this is not feasible in Spring Batch. I want to request for this feature in a future Spring version. Python grows in popularity and using a python script with ScriptItemProcessor I think is becoming a necessity.

[2021-03-29 09:26] benas commented on #3875
Thank you for opening this issue. The `ScriptItemProcessor` delegates item processing to a `ScriptEvaluator` which is from Spring Framework. As of v5.3, Spring Framework provides three implementations of the `ScriptEvaluator` interface: `BshScriptEvaluator`, `GroovyScriptEvaluator` and `StandardScriptEvaluator`.

By default, if you don't specify which `ScriptEvaluator` to use, the `ScriptItemProce

[2021-03-29 09:26] #3875 closed

[2021-03-30 14:17] benas opened #3877 "Build failure on Java 16"
The following tests fail on JDK 16:

* `XStreamMarshallingTests`
* `XStreamUnmarshallingTests`

Here is the failure:

[code]

The full build log can be found [here](https://build.spring.io/browse/BATCH-JL-334/log). The issue `com.thoughtworks.xstream.XStream.setupConverters(XStream.java:990)` is related to XStream (see https://github.com/x-stream/xstream/pull/218) which was fixed in v1.4.13. Sprin

[2021-03-30 14:23] #3877 closed

[2021-03-31 04:59] ssanghavi-appdirect commented on #3790
Attaching a spring boot project that can reproduce issue with `TaskExecutorPartitionHandler`. It requires maven and java 11 to run.

Steps to execute the program
1. Download the attached zip file and extract the contents
2. Navigate to `spring-batch-remoting` directory that is created by step# 1
3. Run maven command to build `mvn clean install`
4. Start java process with `java -Xmx250m -jar target

[2021-03-31 23:30] tomgeraghty3 commented on #3776
@benas  I have a use case that I'm trying to migrate to using `ResourceAware` instead but am getting stuck. Current setup:
- A `MultiResourceItemReader` that uses a `FlatFileItemReader` delegate
- The `FlatFileItemReader` utilises a `LineCallbackHandler` via the `skippedLinesCallback()` method
- Currently the `LineCallbackHandler` has the `MultiResourceItemReader` injected so that in the `handleLi

[2021-04-01 14:25] fmbenhassine opened #3878 "Update FAQ page"
The [FAQ page](https://projects.spring.io/spring-batch/faq.html) is outdated. Moreover, this page is not accessible from the project's main page or reference documentation or README. This page should be updated and made accessible from one of these resources.

EDIT: The FAQ section of Spring Data is part of the reference documentation: https://docs.spring.io/spring-data/jpa/docs/current/reference/

[2021-04-01 14:57] benas commented on #3776
@tomgeraghty3 To get help for questions like this one, please use stack overflow (see [getting help](https://github.com/spring-projects/spring-batch#getting-help)). Thank you for your comprehension.

[2021-04-01 17:22] tomgeraghty3 commented on #3776
@benas Yeah that makes more sense sorry posted it there thanks - https://stackoverflow.com/questions/66908987/resourceaware-instead-of-multiresourceitemreader-getcurrentresource-for-lineca

[2021-04-02 09:28] benas opened #3879 "Rename master branch to main"
For consistency with other projects from the portfolio, the `master` branch should be renamed to `main`.

- [x] Rename `master` branch to `main`
- [x] Update CI build plans
- [x] Update [Contributor Guidelines](https://github.com/spring-projects/spring-batch/blob/master/CONTRIBUTING.md)
- [x] Check open PRs

---

Resources:

* https://github.com/github/renaming

[2021-04-08 08:59] influence160 opened #3880 "using faultTolerant and processor as a Function"
Hello,

i have this step which worked fine

[code]

but after having the first NullPasswordException i restarted it and i got a strange exception

[code]

as you can see in the code i have listeners which write log after and before item reading, processing and writing
[code]

and you can see that the exception is hapening in the writer and the writer is getting an instance of Party insteads of an

[2021-04-09 11:16] kzander91 opened #3881 "[Testing] JobScopeTestExecutionListener overrides own JobExecution with id 123"
**Bug description**
`JobScopeTestExecutionListener` registers a `JobExecution` with id 123 (created via `MetaDataInstanceFactory#createJobExecution()`) for every test using `JobSynchronizationManager.register()`.
If the `Job` under test relies on Job-scoped parameters obtained from the execution stored in the `JobSynchronizationManager`, the 122nd job execution will fail, because when the Job star

[2021-04-11 17:26] santfirax commented on #3854
Hello @benas I would like to work on this issue. Any chance that you can provide some guidance?

[2021-04-11 18:32] santfirax commented on #3854
Hello @szopal I was looking at the code and getFile is not implemented yet. Would you tell me what is your use case? do you want to retrieve a file from google storage and write some info or do you want to save files into a bucket in google cloud ?

[2021-04-11 18:43] szopal commented on #3854
Hello,

I would like both - read file from GCS bucket (Google Cloud Storage) and next write file to GCS bucket.

I write some method for read from GCS by ReadChannel and next set this as Resource but in ItemWriter this not work, so I used ItemWriter from above exemple but I have to have both ItemWriter - for running locally without GCS and to run with using GCS.

[2021-04-11 23:08] santfirax commented on #3818
Hello @benas  I would like to work on this. Any chance that you can provide some guidance ?

[2021-04-12 07:52] edubenetskiy commented on #793
The problem is in the method `RepositoryItemReaderBuilder.RepositoryMethodReference#methodIs`
https://github.com/spring-projects/spring-batch/blob/5c57ed47b8be4b3419229f0617cba895610ab9bc/spring-batch-infrastructure/src/main/java/org/springframework/batch/item/data/builder/RepositoryItemReaderBuilder.java#L279-L284

The `enhancer.create()` call fails with an error:
[code]
because the actual `repos

[2021-04-12 11:29] Jitu-Ranjan opened #3882 "Spring Batch Restartibility not working for a cuncurrent setup"
Please do a quick search on Github issues first, there might be already a duplicate issue for the one you are about to create.
If the bug is trivial, just go ahead and create the issue. Otherwise, please take a few moments and fill in the following sections:

**Bug description**
Spring batch restart is not consistent for a concurrent chunk based setup. Where if failure happens for a chunk then the

[2021-04-13 10:24] xArturroox commented on #3774
@esoni Did you manage to work around this problem?

[2021-04-13 13:24] benas commented on #3882
Thank you for opening this issue. Multi-threading is not compatible with restartability. This is because restart data (read count, write count, etc) that is saved in the execution context can be overridden by concurrent threads. The Javadocs of item readers and writers explicitly mention to turn off state management in concurrent steps. Here is an example from the [JdbcPagingItemReader](https://do

[2021-04-13 13:24] #3882 closed

[2021-04-13 14:34] benas commented on #3854
@szopal Thank you for opening this issue. The `FlatFileItemWriter` is designed to work against `Resource` implementations that represent a writable file. Here is an excerpt from its [Javadoc](https://docs.spring.io/spring-batch/docs/4.3.x/api/org/springframework/batch/item/file/FlatFileItemWriter.html):

[code]

The resource implementation you provided (`GoogleStorageResource`) does not seem to re

[2021-04-13 14:34] #3854 closed

[2021-04-13 16:08] benas commented on #3818
@sabbyanandan Thank you for opening this feature request. I understand the value of such a request especially in some cloud environments where a temporary file system is not present to download a file before reading it or write a file before uploading it to a cloud storage.

To read (stream) data directly from a remote URL (S3, GCP, etc), one can use a `UrlResource`. I provided an example in https

[2021-04-13 17:40] tomgeraghty3 opened #3883 "LineCallbackHandlers being aware of which Resource they are handling lines for"
My issue is explained in detail in [Stackoverflow here](https://stackoverflow.com/questions/66908987)

**Expected Behavior**
I use a `LineCallbackHandler` to skip header lines in my file. I need to know which file resource the handler is currently skipping lines for. This used to be able to be achieved through `MultiResourceItemReader.getCurrentResource()` but this directly couples the `MultiResou

[2021-04-13 19:09] alpizano opened #3884 "Upgrading spring boot 1.5.9 -> 2.24 (spring framework 4.x.x -> 5.2.3) causes SimpleChunkProcessor to not .writeItems(items) in spring batch"
Hi, I am using Spring Batch in my Java Project and I recently upgraded versions 1.X.X (1.5.9) to 2.X.X (2.2.4) for Spring Boot. I am using spring-boot-starter-batch 2.2.4 and spring-batch-core 4.2.1.

The problem I am seeing when debugging is in the `SimpleChunkProcessor` class in the `doWrite(List<O> Items)` method. When the debugger hits the second line of code in the `try { }` block, which is t

[2021-04-13 19:25] #3884 closed

[2021-04-13 19:51] alpizano opened #3885 "Spring data jpa 2.x.x Repository methods not working with spring batch core 4.x.x (not saving/writing data to database)"
Hi, I recently upgrade my Spring Java project which had spring-batch-core 3.0.10 , with spring-data-jpa 2.2.4 and spring-boot-starter-batch 2.2.4 ( which includes spring-batch-core 4.2.1.RELEASE). This is basically a Spring Boot/Batch/Web project.

I am using JpaRepository classes for my Repositories and I basically have a ArrayList of objects that I was calling the .save() method on. With the new

[2021-04-13 23:42] zahidMed commented on #3841
hi @benas,
I have made a project that allows the propagation of security, sleuth, locale and MDC propagation through Spring batch Items. It doesn't cover all the batch aspects but at least it gives a nearby solution for what I need.

https://github.com/zahidMed/spring-batch-context

Regards.

[2021-04-14 01:27] alpizano commented on #3885
OK, so after debugging and stepping into the .save() calls from the JpaRepository, I can see there is some cyclical loop-infinite recursive method calls going-on in the JdkDynamicAopProxy.class and the SimpleJobLauncher.class

It's a pretty nasty chain and I'm not sure exactly what the hell is going on.... if anyone knows... please help

[2021-04-14 11:58] benas commented on #3885
We would love to help! However, we want to use the issue tracker only for bug reports and feature requests. For this kind of questions, please use StackOverflow as mentioned in the [README](https://github.com/spring-projects/spring-batch#getting-help). Thank you.

[2021-04-14 11:58] #3885 closed

[2021-04-14 14:59] benas commented on #3880
Thank you for opening this issue.

I confirm this issue happens with v4.3.2. The following sample passes with a non fault-tolerant step but fails with a `ClassCastException` when using a fault-tolerant step:

[code]

This is actually a duplicate of #3749 and the change suggested there fixes the issue. I will close this as duplicate and plan #3749 for v4.3.3. Thanks again for reporting this issue 👍

[2021-04-14 14:59] #3880 closed

[2021-04-14 15:04] benas commented on #3749
Thank you for opening this issue. This is indeed a bug in `SimpleStepBuilder`. [This test](https://github.com/spring-projects/spring-batch/blob/a7092a21e428cf904f210aff2682b518dc3649c5/spring-batch-core/src/test/java/org/springframework/batch/core/step/builder/StepBuilderTests.java#L216) fails with a fault-tolerant step.

The change you are suggesting fixes the issue, so you are welcome to submit

[2021-04-14 18:56] mohanaraosv opened #3886 "The new API java.time is way better than the old world with java.util.Date and java.util.Calendar"
In the existing implementation `JobExecution` and `StepExecution` we are still using the old API classes java.util.Date.

It is preferred to use the new API  java.time, is it possible to switch new API or does it break backward compatibility?

[2021-04-15 10:41] alpizano opened #3887 "spring-boot upgrade from 2.2.0 -> 2.2.1 breaks spring-batch persistance to database (or any spring boot > 2.2.0)"
Hi, I posted before but my issue closed. I have a  (somewhat) simple spring boot/spring batch application that loads files from a .CSV and transforms/maps that data  and persists to a Postgresql database. It was running perfectly fine on spring-boot-starter 1.5.9.RELEASE. However, upon upgrading to anything > 2.2.0 spring-boot-starter, I noticed the any repository calls to the database (postgres)

[2021-04-15 12:36] benas commented on #3886
This has been discussed in #3723 . I'm closing it as duplicate, see Michael's comment [here](https://github.com/spring-projects/spring-batch/issues/3723#issuecomment-691107037).

[2021-04-15 12:36] #3886 closed

[2021-04-15 12:52] benas commented on #3887
Since the version of Spring Batch is the same and it works with boot 2.2.0 but not with boot 2.2.1, I don't understand why this issue is opened against Spring Batch and not against Spring Boot. As mentioned [previously by myself](https://github.com/spring-projects/spring-batch/issues/3885#issuecomment-819462226) (and by the [boot team](https://github.com/spring-projects/spring-boot/issues/25989#is

[2021-04-15 12:52] #3887 closed

[2021-04-15 13:18] benas commented on #1127
@grimch Thank you for your feedback on the supported isolation levels in Oracle, much appreciated!

Based on previous comments, I'm re-opening this issue:

* [ ] Update the current DDL script for Oracle with `SEGMENT CREATION IMMEDIATE`
* [ ] Create a migration script
* [ ] Add a release acceptance test (depends on #3092)

[2021-04-15 14:03] benas commented on #3863
I don't see an obvious way to detect that we are writing the last chunk to not add a line separator at the end. I'm probably missing a clever way to do that, but even if we try to invert the code to something like this:

[code]

the problem remains, but at the other end of the file (ie the head/beginning of the file).

@Jenson3210 @parikshitdutta Do you agree?

[2021-04-15 14:56] benas opened #3888 "Improve code example in "Configuring and Running a Job" section"
The default constrcutor of `DefaultBatchConfigurer` is [protected](https://github.com/spring-projects/spring-batch/blob/d8fc58338d3b059b67b5f777adc132d2564d7402/spring-batch-core/src/main/java/org/springframework/batch/core/configuration/annotation/DefaultBatchConfigurer.java#L68) and can't be used in a code example like the following:

[code]

The code example that shows how to provide a custom t

[2021-04-15 18:50] Jenson3210 commented on #3863
As you might have guessed based on my limited description, I do not have that much experience with Spring Batch.
We currently have another system for batch applications (custom framework), moving slowly towards Spring Batch.
For now, I have solved it by not handling empty lines in the consumer.

But I thought it was still valid to have this option though. If to hard to implement, there are options

[2021-04-16 11:44] benas commented on #3863
My question is more about the feasibility of the feature rather than its added value. In order to add (or not) a line separator at the end of the file, Spring Batch needs to know if the current chunk to write is the last one (ie know the total number of items upfront). This information is not available (unless we ask the user to provide it in some way, but this is another story) which makes me won

[2021-04-18 14:54] parikshitdutta commented on #3863
@benas, I agree this is more about feasibility.

Probably by updating ```AbstractFileItemWriter``` this might be achieved, but I don't think, we can achieve that without touching low level concepts such as ```FileChannel```, ```lastMarkedByteOffsetPosition```, ```truncate()``` etc, if that is at all possible, and that too in an "elegant" way!

As far as using ```FooterCallback``` is concern, the t

[2021-04-19 03:19] rchandavaram commented on #3888
@benas
I would like to work on this, please let me know if it is ok.
Any documentation for first timers is appreciated.

-RC

[2021-04-19 06:27] benas commented on #3888
@rchandavaram Thank you for your PR! I planned to merge the fix in the upcoming release.

[2021-04-19 08:05] rchandavaram commented on #3888
@benas Thank you for approving my first PR!

[2021-04-20 06:14] kevbrun opened #3891 "Full MariaDB support"
Dear community

It would be nice if there would be a MariaDB support for Spring Batch. It doesn't seem to work in MySQL mode because of the primary keys. It is also not mentioned on the reference page  https://docs.spring.io/spring-batch/docs/4.3.x/reference/html/index-single.html which databases are supported.

Can you add the support or put specific information on the reference page?

Best regar

[2021-04-20 10:07] benas commented on #3863
@Jenson3210

The `lineAggregator` and `lineSeparator` have `protected` access in `FlatFileItemWriter`, so you should be able to access them in your extension. Please note that creating a custom implementation is recommended in favor of overriding the built-in implementation (see this [FAQ](https://projects.spring.io/spring-batch/faq.html#flexible)).

The difficulty to address this is due to the wa

[2021-04-20 10:07] #3863 closed

[2021-04-20 10:21] benas commented on #3891
MariaDB is treated as MySQL, see 6c5476780e0ec95e5c54dad42fd1e9dfb0efd99f.

Can you please elaborate on that? Do you have an example that shows the issue?

[2021-04-21 09:02] benas commented on #3767
This is not directly related to the `@SpringBatchTest` annotation, but rather to the way the underlying utilities it imports are designed to work (ie the `JobLauncherTestUtils` which autowires the job under test and `JobRepositoryTestUtils` which autowires a datasource). I wrote a similar comment about this in https://github.com/spring-projects/spring-batch/issues/3699#issuecomment-702966663. Ther

[2021-04-21 09:29] benas commented on #3841
@zahidMed Thank you for sharing this project with us!

FTR, Spring Cloud Sleuth will add support to trace Spring Batch job executions, see https://github.com/spring-cloud/spring-cloud-sleuth/issues/1904.

[2021-04-21 09:38] zahidMed commented on #3841
@benas you're welcome. Can I contribute in this issue?

[2021-04-21 09:43] benas commented on #3841
Sure! There is an open PR here: https://github.com/spring-cloud/spring-cloud-sleuth/pull/1913. So feel free to join the discussion and share your thoughts with the Spring Cloud team.

[2021-04-21 10:41] benas commented on #3668
Thank you for reporting this issue. Please open a PR with your changes to discuss the suggested fix. Thank you upfront.

[2021-04-21 11:05] benas commented on #3667
The incrementer is only called when using the `CommandLineJobRunner` with the `-next` option or with `SimpleJobOperator#startNextInstance(String jobName)`, but not when using the `JobLauncher`. This is also a bit different when using Spring Boot but you did not mention if you use boot or not. We need to know how you are running your job. Without this information, we can't state if this is a bug or

[2021-04-21 11:05] #3667 closed

[2021-04-21 13:43] benas opened #3892 "Build failure in a Docker container"
Trying to build the project inside a Docker container fails with the following error:

[code]

Steps to reproduce the issue:

[code]

[2021-04-21 13:47] akhettar commented on #2262
Has anyone tested this feature? It looks like the flag is deleting empty and not empty files in my case.

[2021-04-21 17:40] awittig opened #3893 "JdbcCursorItemReaderBuilder defaults verifyCursorPosition to false, but its Javadoc says the opposite"
**Bug description**
`JdbcCursorItemReaderBuilder` defaults `verifyCursorPosition` to false, despite its Javadoc claiming the opposite.  This is also opposite the behavior you get if you build a `JdbcCursorItemReader` directly.  The javadoc currently reads

	/**
	 * Indicates if the reader should verify the current position of the
	 * {@link java.sql.ResultSet} after being passed to the {@link RowM

[2021-04-22 11:58] benas opened #3894 "Remove JSR-352 implementation"
The next version of Jakarta Batch is being discussed [here](https://www.eclipse.org/lists/jakartabatch-dev/msg00131.html). This discussion shows that the next version will require a substantial maintenance effort and even some showstoppers for Spring Batch (like the CDI requirement if agreed upon). Based on Michael's [comment](https://www.eclipse.org/lists/jakartabatch-dev/msg00133.html) in that d

[2021-04-22 15:32] mminella commented on #2262
@akhettar That question is best asked on StackOverflow.

[2021-04-23 07:25] parikshitdutta commented on #3863
Hi @benas, please check my submitted PR #3895, I will look forward to your feedback.

[2021-04-23 16:00] parikshitdutta commented on #3893
Hi @benas, please review my submitted PR #3896. I will look forward to your feedback.

[2021-04-26 06:30] dozim commented on #1124
Hello, just wanted to mention that this issue makes it impossible for me to use the JdbcPagingItemReader and I know have to use the JdbcCursorItemReader.

[2021-04-26 09:56] currentperson commented on #1826
hope this issue can be fixed

[2021-04-26 10:51] parikshitdutta commented on #3749
HI @benas, please review submitted PR #3897, I will look forward to your feedback.

[2021-04-27 11:25] benas commented on #3879
Done.

[2021-04-27 11:25] #3879 closed

[2021-04-27 20:16] hpoettker commented on #3857
Spring Batch treats the two methods of adding flows to the `SplitBuilder` quite differently:
- If all flows are added at once, one `SplitState` with 10 flows will be created.
- If the flows are added separately, a nested structure of 10 `SplitState` will be created, where each of them is linked to one `StepState` and the next `SplitState`, respectively. Except for the last `SplitState` which is on

[2021-04-27 20:23] hpoettker commented on #2218
I'm not sure that it's a good idea to deprecate the throttle limit. As explained in https://github.com/spring-projects/spring-batch/issues/3857#issuecomment-827901009 , the thread pool must be big enough to cover the waiting of `SplitState` nodes if there are nested splits in the job.

As far as I know, the throttle limit is the only effective way to set a maximal number of concurrent steps if a j

[2021-04-29 07:29] SebastianGoeb opened #3898 "JdbcPagingItemReader with sort key crashes in multithreaded step for empty query"
**Bug description**
JdbcPagingItemReader cannot handle queries without results if multithreading and sorting are active together. `remainingPagesSql` is erroneously executed by other thread, if first thread found no results. Sind `startAfterValues` was never set by first thread, any sort key parameters is missing.

**Environment**
Java version: AdoptOpenJDK 11 (11.0.6)
Spring Batch version: spring

[2021-04-30 09:17] benas commented on #1448
This is key, and the issue on SF side is still open at the time of writing this.

I'm adding the following SO question here for reference: [Deadlock while running multiple instances of a spring batch job](https://stackoverflow.com/questions/66578006/deadlock-while-running-multiple-instances-of-a-spring-batch-job).

The solution could be to update the DDL script for SQLServer to use real sequences

[2021-04-30 11:49] marcingrzejszczak opened #3899 "Can't wrap JobRepository in a tracing representation"
# The problem

I can't wrap the `JobRepository` used by `JobBuilderFactory` or `StepBuilderFactory`, the default one is being used.

Same type of a problem as presented here https://github.com/spring-projects/spring-batch/issues/816 .

related Sleuth code:
https://github.com/spring-cloud/spring-cloud-sleuth/blob/issues_%231904_batch_with_job_repository/spring-cloud-sleuth-autoconfigure/src/main/ja

[2021-04-30 17:03] kzander91 opened #3900 "Missing note about not scoping Step beans with Job scope"
**Bug description**
I have a `Job` that contains a `Step` that is annotated with `@JobScope` (to be able to inject job parameters).
Using `JobOperator.stop()` from another thread to stop that job fails with the following exception:
[code]

**Environment**
Spring Batch: 4.3.2

**Steps to reproduce**

1. Configure job with job-scoped steps.
2. Run job asynchronously (to get hold of the pending `JobE

[2021-05-01 16:02] dnl50 commented on #3892
I looked into it and it seems like the problem arises in the native implementation the `FileSystem#checkAccess` Method, which the `File#canWrite` Method delegates to. The HotSpot Implementation uses the `access` C Function to check whether the JVM can write to the file. As the JVM is run by the root user inside the docker container the `access` Method returns `0` (= can write), eventhough the file

[2021-05-02 20:03] borramTAS commented on #1289
The solution proposed with Spring Boot 2.1.4 and Atomikos does not work:

[code]

`The bean 'transactionManager', defined in class path resource [org/springframework/batch/core/configuration/annotation/SimpleBatchConfiguration.class], could not be registered. A bean with that name has already been defined in class path resource [org/springframework/boot/autoconfigure/transaction/jta/AtomikosJtaCon

[2021-05-03 08:37] benas opened #3901 "Update graceful shutdown sample"
The sample [that shows graceful shutdown](https://github.com/spring-projects/spring-batch/blob/main/spring-batch-samples/src/test/java/org/springframework/batch/sample/GracefulShutdownFunctionalTests.java) uses `JobExecution#stop` which has been deprecated in #1605 . This sample should be updated to use `JobOperator#stop`.

Related to #3663 .

[2021-05-04 15:42] benas commented on #1888
Based on previous comments, it seems like increasing the length of the SHORT_CONTEXT column fixed the issue. This issue is old and seems outdated, so if anyone is still having the same problem with the latest Spring Batch version, please provide a minimal example and we will re-open it if necessary.

[2021-05-04 15:42] #1888 closed

[2021-05-05 14:31] benas commented on #1221
This is a valid issue, here is a quick way to reproduce it:

[code]

Fixed in 7f0824b9dad12f6a2d96d7cfa5e2efd60bd58f03 by applying a slightly modified version of the attached patch.

[2021-05-05 14:31] #1221 closed

[2021-05-06 15:55] benas commented on #810
This will be addressed in #1448 .

[2021-05-06 15:55] #810 closed

[2021-05-06 17:31] benas commented on #1182
The goal is not to provide a `LineMapper` implementation with every possible pattern matching method. For custom/advanced mapping strategies, you can use a custom mapper for that.

[2021-05-06 17:31] #1182 closed

[2021-05-06 18:22] benas commented on #1463
The `AutomaticJobRegistrar` has been updated to implement `SmartLifecycle` in #571. Since this registrar has the [lowest precedence](https://github.com/spring-projects/spring-batch/blob/main/spring-batch-core/src/main/java/org/springframework/batch/core/configuration/support/AutomaticJobRegistrar.java#L62), jobs will now be registered early enough during the application context startup and should

[2021-05-06 18:22] #1463 closed

[2021-05-06 18:30] benas commented on #1524
This is a duplicate of #1777.

[2021-05-06 18:30] #1524 closed

[2021-05-07 09:40] benas commented on #1893
This is outdated. In fact, `SimpleStepExecutionSplitter` initially [had](https://github.com/spring-projects/spring-batch/commit/f6487f6b533079ca905d30f316d876e43438a645#diff-1ccc98868257080253b51baded74a755478f3f85f754e0dc8ef05144ecd7dc02R25) a reference to a `Step` on which it called methods (which should be called lazily as described in this issue), but this has been changed in 8e1f054bd29346705

[2021-05-07 09:40] #1893 closed

[2021-05-07 15:21] marcingrzejszczak commented on #816
With this issue in Sleuth (https://github.com/spring-cloud/spring-cloud-sleuth/issues/1941) we've added support for instrumentation of `PlatformTransactionManager`s . I've ran the batch sample https://github.com/spring-cloud-samples/spring-cloud-sleuth-samples/tree/3.1.x/batch and the instrumented `PTM` wasn't called at all (even though it got instrumented). That means that currently Batch is igno

[2021-05-11 16:42] benas commented on #3749
Resolved with #3897 .

[2021-05-11 16:42] #3749 closed

[2021-05-12 07:33] govardhanaraoganji opened #3904 "SQLTransactionRollbackException: transaction rollback: serialization failure"
Team, I am facing the same issue in the reference(in the below). I have a job and I want to run at the same time with different contexts. So EOD, it will fulfill a different purpose but same logic. It is working fine when I schedule job at different times and also when I run individually.

I have tried the below ways,

    with ISOLATION_READ_COMMITTED on my job repository
    @transactional(isola

[2021-05-12 13:09] benas commented on #3893
Resolved with #3896 .

[2021-05-12 13:09] #3893 closed

[2021-05-12 13:34] benas commented on #3904
You did not mention if you have set `hsqldb.tx=mvcc` in your connection URL as [mentioned](https://github.com/spring-projects/spring-batch/issues/1230#issuecomment-566275330) by Michael in the issue you linked. So please give that a try and let us know (here is [an example](https://github.com/spring-projects/spring-batch/blob/bb048f3cf8d1ea45030833ccede65f1fadf1dfeb/spring-batch-samples/src/main/r

[2021-05-12 15:15] govardhanaraoganji commented on #3904
@benas, I am using embedded job repository. So do I still need to provide the `hsqldb.tx=mvcc`? I assume, it will use the configuration to create a datasource(as mentioned in your [example](https://github.com/spring-projects/spring-batch/blob/bb048f3cf8d1ea45030833ccede65f1fadf1dfeb/spring-batch-samples/src/main/resources/batch-hsql.properties#L4)).

[2021-05-12 17:07] benas commented on #3904
I don't know if `hsqldb.tx=mvcc` is the default or not so I would add it explicitly in the connection string to be sure. Michael has [confirmed](https://github.com/spring-projects/spring-batch/issues/1230#issuecomment-566275333) that there is no issue when using `hsqldb.tx=mvcc` with the isolation set to `READ_COMMITTED` on the job repository. So I can't really validate that this is a bug in Sprin

[2021-05-12 17:07] #3904 closed

[2021-05-14 16:24] govardhanaraoganji commented on #3904
Thank you @benas for your support. I have tested, now I am able to trigger multiple jobs after using custom beans like DataSource(with `...hsqldb.tx=mvcc`), JobRepository(with `ISOLATION_REPEATABLE_READ`) and JobLauncher.

Please consider below are the improvement,
- `..hsqldb.tx=mvcc` looks like is not a default.
- Bring isolation level[s] into a configuration.

[2021-05-16 19:06] mvigneshtuty commented on #3771
@benas Yes, the issue is same as the one reported in #1104
Getting the issue when restarting the job execution involving remote-partitioning.

`java.lang.ClassCastException: Value for key=[SimpleStepExecutionSplitter.GRID_SIZE] is not of type: [class java.lang.Long], it is [(class java.util.ArrayList)[java.lang.Long, 6]]
	at org.springframework.batch.item.ExecutionContext.readAndValidate(Execution

[2021-05-16 19:46] mvigneshtuty commented on #3771
And the issue could be because in `SimpleStepExecutionSplitter.java`, the value from context for grid size is retrieved using `context.getLong`

[code]

Whether having it as:
[code]
will fix the issue?

[2021-05-17 17:42] benas commented on #3888
Resolved with #3890 .

[2021-05-17 17:42] #3888 closed

[2021-05-18 08:36] benas commented on #3782
Resolved with #3783 .

[2021-05-18 08:36] #3782 closed

[2021-05-18 13:18] benas opened #3913 "JobParameter must not accept null values"
As of v4.3, it is possible to create a `JobParameter` with a `null` value. Unless I'm missing something, I see no valid use case for that. Moreover, this might cause issues like #834 and makes the code defensive for no added value. Like other domain objects where passed parameters are validated at creation time, job parameter values should be validated at construction time to be non null.

This is

[2021-05-18 14:13] benas commented on #834
Fixed in #3864 .

[2021-05-18 14:13] #834 closed

[2021-05-18 17:25] parikshitdutta commented on #3901
Hi @benas, Please review PR #3916, I will look forward to your feedback.

[2021-05-19 10:32] benas commented on #3870
Closing this as v4.2.7 has been released: https://github.com/spring-projects/spring-batch/releases/tag/4.2.7.RELEASE.

[2021-05-19 10:32] #3870 closed

[2021-05-19 16:44] govardhanaraoganji commented on #3904
@benas, I'd love to work on this feature if you gives me access for repo.

[2021-05-20 14:25] benas opened #3917 "Duplicate entries in the documentation distribution file"
The distribution file for reference documentation seems to contain duplicate PDF entries which prevents the HTML docs from being correctly deployed during a release:

[code]

Trying to unzip the archive requires a confirmation to override the file:

[code]

On the docs server, this command fails with the following error:

[code]

This leads to a situation where the PDF version is deployed but the

[2021-05-25 13:10] philippe-tr commented on #752
Passing command arguments as environment parameters seems counter-intuitive. Does this mean the intent of SystemCommandTasklet#setEnvironmentParams is both command arguments and environment parameters?

[2021-05-25 15:14] hpoettker commented on #752
I wouldn't expect that passing command arguments to `setEnvironmentParams` actually works. The array of environment parameters is passed as is to `ProcessBuilder::environment`. The example arguments above should get silently (compatibility with Java 4 ...) ignored there since they don't contain a `=`.

[2021-05-25 15:20] philippe-tr commented on #752
I have ideas for how to support this while maintaining backward compatibility. I also want to do it in a way that would work for the requirements in [BATCH-2318](https://github.com/spring-projects/spring-batch/issues/1283)

[2021-05-25 16:06] govardhanaraoganji commented on #3904
I totally agree and it resolved my issues but embedded HSQL datasource is not using the `hsqldb.tx=mvcc` [(for example)](https://github.com/spring-projects/spring-batch/blob/bb048f3cf8d1ea45030833ccede65f1fadf1dfeb/spring-batch-samples/src/main/resources/batch-hsql.properties#L4) and if we bring isolation levels into a configuration like `spring.batch.isolation.level=ISOLATION_REPEATABLE_READ` or

[2021-05-27 06:31] benas commented on #3917
Resolved with fa8063f.

[2021-05-27 06:31] #3917 closed

[2021-05-27 09:00] benas opened #3922 "Incorrect content in spring-batch-docs jar"
The `spring-batch-docs` jar does not contain the actual documentation and seems to be published to Artifactory (and Maven Central) inadvertently:

[code]

This jar should not be generated in the first place as it is a duplicate of `spring-batch-docs.zip` and must not be published to Artifactory/MavenCentral.

[2021-05-27 09:09] benas commented on #3922
Fixed in a318adb.

[2021-05-27 09:09] #3922 closed

[2021-05-27 09:11] benas opened #3923 "4.2.8 Backported issues"
* Incorrect content in spring-batch-docs jar #3922
* NPE in JDBC ItemReaders after changes in spring-jdbc's AbstractFallbackSQLExceptionTranslator #3968
* Fix typos in the document for configuring steps #3965
* SimpleJobExplorer#getLastJobExecution does not fetch step executions #3943
* Remove whitespace to support multiple execution statement #3861
* "IllegalArgumentException: Only 1 out of 2 arg

[2021-05-27 10:59] kunivan commented on #3714
Hi, I thought I had the same issue with the FixedLengthTokenizer, but it turned out that the encoding on the FlatFileItemReader had to be explicitly set to UTF-8 in order for the line to be read correctly from the UTF-8 encoded  file I was reading. After this, the FixedLengthTokenizer worked fine for me.
So, flatFileItemReader.setEncoding("UTF-8"); did the trick for me.

[2021-05-31 15:23] benas opened #3924 "Add default methods in interfaces"
Several core interfaces could benefit from using Java 8's default methods in interfaces feature. This has a couple of advantages:

* It makes client code more readable as it does not require it to implement all methods of a given interface.
* It reduces the code on the framework side since support classes (like `JobExecutionListenerSupport`, `StepExecutionListenerSupport`, `ChunkListenerSupport`,

[2021-05-31 15:32] benas opened #3925 "Deprecate support classes implementing interfaces with default methods"
Support classes like `JobExecutionListenerSupport`, `StepExecutionListenerSupport`, `ChunkListenerSupport`, etc should be deprecated in favour of using the default methods in the interfaces they implement.

Depends on #3924 .

[2021-06-02 11:24] benas commented on #1427
In order to answer the questions above, the following should be done:

- [ ] Update the Javadoc of *all methods* in the `JobRepository` interface with the expected transactional behaviour (ie document at the contract level what is [implicitly configured in the proxy](https://github.com/spring-projects/spring-batch/blob/d8fc58338d3b059b67b5f777adc132d2564d7402/spring-batch-core/src/main/java/org/sp

[2021-06-02 13:16] fmbenhassine opened #3926 "Add option to provide a custom JobKeyGenerator in JdbcJobInstanceDao"
The `JdbcJobInstanceDao` uses a default `JobKeyGenerator` but provides no way to supply a custom implementation. Even though it is unlikely to implement a custom `JobKeyGenerator`, there should be a way to provide a custom one.

[2021-06-03 19:12] cppwfs opened #3927 "Deadlock when batch apps are launched enmasse on SQLServer"
Batch's use of sequence tables (BATCH_JOB_SEQ & BATCH_JOB_EXECUTION_SEQ) are suspeptable to a deadlock on SQL Server.

This occurs when several batch jobs are launched at the same time.   The deadlock occurs on the sequence tables above.
Sample Exception:
[code]
SQLServer now supports Sequence.   Coverting to using sequences resolves this deadlock issue.

[2021-06-04 09:46] benas commented on #3927
We are planning to replace the usage of tables with real sequences for SQLServer in v5, see https://github.com/spring-projects/spring-batch/issues/1448#issuecomment-829961449.

Closing this as duplicate of #1448.

[2021-06-04 09:46] #3927 closed

[2021-06-04 14:43] fmbenhassine opened #3928 "Make RowMapper implementations of batch domain objects public"
Currently, as of v4.3.3, `RowMapper` implementations of batch domain objects (`JobInstance`, `JobExecution`, `StepExecution`, and `ExecutionContext`) are [private inner classes](https://github.com/spring-projects/spring-batch/blob/193f82005a373819e5921c7e2255607cf239d14e/spring-batch-core/src/main/java/org/springframework/batch/core/repository/dao/JdbcJobExecutionDao.java#L400) in their respective

[2021-06-04 14:52] benas opened #3929 "Rename setJobIncrementer to setJobInstanceIncrementer in JdbcJobInstanceDao"
The `DataFieldMaxValueIncrementer jobIncrementer` field in `JdbcJobInstanceDao` is actually an incrementer for job instance IDs and not job IDs (which does not make much sense as there is no `Job` entity as part of the batch domain classes).

This setter is better renamed to `setJobInstanceIncrementer` (similar to `jobExecutionIncrementer` and `stepExecutionIncrementer` in other DAOs) to be more e

[2021-06-04 15:17] fmbenhassine opened #3930 "Add method getJobInstance in JobExplorer/JobRepository"
As of v4.3.3, there is no way to get a job instance for a given job name + job parameters with a `JobExplorer`/`JobRepository`. This issue is to add a method `getJobInstance(String jobName, JobParameters jobParameters)` in `JobRepository`/`JobExplorer`.

[2021-06-05 15:33] jvalkeal commented on #3927
@benas I think there has to be a fix in 4.x as well issue is reported in current version.

[2021-06-07 12:57] parikshitdutta commented on #3930
Hi @benas, I am on it, please assign it to me.

Thank you.

[2021-06-07 13:03] tyrng opened #3931 "Job sometimes does not execute"
**Bug description**
We currently launch our jobs using command line arguments (the main function we used is attached below). We have a collection of Bash scripts that run the jobs separately, hence the job names would not contain human typing error during execution (we have tested each script thoroughly). However, sometimes, and without a clear pattern, some jobs would not be executed at all (refe

[2021-06-07 13:05] tyrng commented on #3931
Attached the specific job config that is used in the logs in my original post:
[code]

[2021-06-07 15:15] parikshitdutta commented on #3930
Hi @benas, Please review submitted PR #3932. I will look forward to your feedback.

Thank you.

[2021-06-08 06:32] parikshitdutta commented on #3929
Hi @benas, please review submitted PR #3933. I will look forward to your feedback.

Thank you.

[2021-06-08 07:17] parikshitdutta commented on #3924
Hi @benas, I am on it, Please assign this one and it's dependent #3925 to me.

Thank you.

[2021-06-09 04:21] parikshitdutta commented on #3924
Hi @benas, please review PR #3934. I will look forward to your feedback.

Thank you.

[2021-06-09 05:42] parikshitdutta commented on #3925
Hi @benas, please review PR #3935. I will look forward to your feedback.

Thank you.

[2021-06-09 10:17] parikshitdutta commented on #3928
Hi @benas, I am working on it. Please assign it to me.

Thank you.

[2021-06-09 11:41] farnetto opened #3936 "@StepScope not working when XML namespace activated"
I believe the problem described in the last comment in #1569 still exists: https://github.com/spring-projects/spring-batch/issues/1569#issuecomment-566279715

If the Spring Batch XML namespace is loaded with CoreNamespaceUtils, and then you try to define a @StepScope bean in Java e.g. in a Configuration or Component class, then the bean is proxied twice and you get an exception during batch execut

[2021-06-09 21:58] jharby2021 opened #3937 "Please ignore - deleting"
**Expected Behavior**

**Current Behavior**

**Context**

[2021-06-09 22:48] farnetto commented on #3936
pull request https://github.com/spring-projects/spring-batch/pull/3938

[2021-06-09 23:09] #3937 closed

[2021-06-10 06:00] tyrng commented on #3931
Closing this issue as we found that printStackTrace() outputs to STDERR instead of STDOUT, which our script is not able to produce in the log file output. And the printed error seems to be caused by #1448 .

[2021-06-10 06:00] #3931 closed

[2021-06-10 10:21] mvigneshtuty commented on #3793
@ajain72  Are you able to solve this issue? any workaround possible?

[2021-06-13 17:14] kkmikhaylova opened #3939 "Different behavior when interrupting a job, depending on the parallel flow order"
**Bug description**
Different behavior when interrupting a job, depending on the parallel flow order.
I am creating a parallel flow and trying to interrupt a job from one of them. Further behavior depends on the order of the flow inside the add() function. In one case, the job is finished immediately, in the other, all steps from another parallel flow are executed.

`Flow parallelFlow = new FlowBu

[2021-06-14 12:11] aizerin commented on #3801
Any news on this ? I'm running into same issue.

[2021-06-15 08:14] kzander91 opened #3940 "BatchTestContextCustomizer does not implement hashCode/equals, preventing context caching"
**Bug description**
When using `@SpringBatchTest`, the `BatchTestContextCustomizer` is added to each test's `MergedContextConfiguration`.
`BatchTestContextCustomizer` does not implement `hashCode()/equals()`, causing each new instance to have a different hash code. This leads to unnecessary cache misses and context creations, slowing down test execution.
The `ContextCustomizer` Javadoc clearly dem

[2021-06-16 08:14] fmbenhassine opened #3941 "Auto-configure SimpleJobOperator with EnableBatchProcessing"
As of v4.3, `@EnableBatchProcessing` auto-configures all infrastructure beans  except a `JobOperator`. So as a user, I still need to create a `JobOperator` bean myself like:

[code]

Since all collaborators of the `JobOperator` (ie `JobRepository`, `JobLauncher`, `JobRegistry`, `JobExplorer`) are already created by `@EnableBatchProcessing`, this bean could also be created automatically by the anno

[2021-06-16 09:43] fmbenhassine opened #3942 "Revisit the configuration of infrastructure beans with @EnableBatchProcessing"
Compared to the XML configuration style where infrastructure beans (`JobRepository`, `JobLauncher`, etc) should be defined manually,  `@EnableBatchProcessing` does a good job in configuring those beans automatically and making them available for autowiring in users configuration classes. However, several issues have been reported regarding the default behaviour of this annotation as well as the cu

[2021-06-16 13:39] benas commented on #3722
Duplicated by #3888 .

[2021-06-16 13:39] #3722 closed

[2021-06-17 09:25] benas opened #3943 "SimpleJobExplorer#getLastJobExecution does not fetch step executions"
`SimpleJobExplorer#getLastJobExecution` returns the last job execution without fetching its step executions and execution contexts. This is not consistent with `SimpleJobExplorer#getJobExecution` where the entire object graph is returned.

Reference: https://stackoverflow.com/questions/68015813/spring-batch-jobexecution-getstepexecutions-is-empty

[2021-06-18 16:18] jpbassinello opened #3946 "Items are retried when using NeverRetryPolicy"
**Bug description**
A simple `faultTolerant` step configuration using `NeverRetryPolicy` and `AlwaysSkipItemSkipPolicy` always retry a item once when any exception occurs. Unless I am missing something, I would expect to do not see any retries at all.

**Environment**
Spring Batch 4.3.3
jdk 15.0.2
Postgres 12.4

**Steps to reproduce**
- Configure a faultTolerent step with policies: `NeverRetryPoli

[2021-06-21 16:50] farnetto opened #3947 "throttle-limit unclear, javadoc wrong"
It is unclear what throttle-limit does, and the Javadoc comment in TaskExecutorRepeatTemplate#setThrottleLimit is wrong imho.

Yes, "the throttle limit is the largest number of concurrent tasks that can be executing at one time", but the following statement in the javadoc (from @dsyer possibly?) is misleading or wrong I think:

The semaphore _waits_ in ResultHolderResultQueue prevents more than "t

[2021-06-21 21:12] farnetto opened #3948 "Parallel Step job hangs if @StepScope bean cannot be created"
If in a parallel step a @StepScope bean cannot be created then the batch just hangs waiting in TaskExecutorRepeatTemplate#waitForResults L172.

In my batch I want to pass in the pool size as a job parameter to the TaskExecutor used in the step. If this parameter is missing or cannot be converted into an int, then an exception is added to the _deferred_ list but the TaskExecutorRepeatTemplate think

[2021-06-22 08:37] farnetto opened #3949 "ThrottleLimitResultQueue apparently dead code, could be removed"
ThrottleLimitResultQueue appears to be an early draft of ResultHolderResultQueue, is apparently completely unused and could be removed to reduce the confusion surrounding multi-threaded step and TaskExecutorRepeatTemplate.

[2021-06-22 13:19] benas commented on #3946
Thank you for opening this issue. I do confirm that this could be surprising, but the behaviour you are seeing is actually chunk scanning, which is triggered when an exception is thrown from the `ChunkProcessor` (ie item processor or item writer) in a fault tolerant step. This is probably a documentation issue, as the [Configuring Retry Logic](https://docs.spring.io/spring-batch/docs/4.3.x/referen

[2021-06-22 16:39] jpbassinello commented on #3946
Thank you @benas. I understand the issue better now.
I was able to move the logic from ItemWriter to ItemProcessor as suggested by #2071 and it is working as expected now.
For me, the opt-out of chunk scanning can work but seems like some kind of workaround for something that should no happen. Sorry if I don't have all the context and implementation details, but retrying an item that was already p

[2021-06-22 21:56] deepak-kongath commented on #1208
I had faced the similar issue and how i solved was to put column name as alias and use the same in the sort key.
eg: table person has name , person_id and dob
table address has address_id, person_id, place name

the query will be select a.person_id as "a.person_id" from Person a inner join Address b on a.person_id=b.person_id

and in the sort key , i provided "a.person_id"

[2021-06-22 21:57] deepak-kongath commented on #759
I had faced the similar issue and how i solved was to put column name as alias and use the same in the sort key.
eg: table person has name , person_id and dob
table address has address_id, person_id, place name

the query will be select a.person_id as "a.person_id" from Person a inner join Address b on a.person_id=b.person_id

and in the sort key , i provided "a.person_id"

[2021-06-24 12:29] benas commented on #3946
This is because chunk scanning retries items one by one at the `ChunkProcessor` level (which involves the `ItemProcessor` and the `ItemWriter`), and that's why the documentation clearly mentions that in a fault-tolerant step, the item processor should be designed in [an idempotent way](https://docs.spring.io/spring-batch/docs/4.3.x/reference/html/processor.html#faultTolerant) or marked as non tran

[2021-06-24 16:32] benas commented on #3947
The `throttleLimit` parameter limits the number of concurrent executions of the `Tasklet` in a `TaskletStep` when a task executor is specified. This is explained in the javadoc of [AbstractTaskletStepBuilder#throttleLimit](https://docs.spring.io/spring-batch/docs/4.3.x/api/org/springframework/batch/core/step/builder/AbstractTaskletStepBuilder.html#throttleLimit-int-). Here is a quick example:

[co

[2021-06-25 16:07] benas commented on #3948
Thank you for reporting this issue. I do confirm that the `TaskExecutorRepeatTemplate` hangs in this case (I was able to reproduce the issue in this [repo](https://github.com/benas/spring-batch-lab/tree/main/issues/gh3948)). This kind of exceptions should fail fast and not added to the deferred exceptions list.

That said, I see no added value in making the `TaskExecutor` step-scoped and I believe

[2021-06-25 16:33] benas commented on #3949
Hi @farnetto ,

While this is true, it does not apply to all unused classes in the code base. Some classes are unused by production code but are provided as support for users, like `SystemCommandTasklet`, `CommandLineJobRunner`, etc.

That said, `ThrottleLimitResultQueue` is indeed unused and does not add any value compared to `ResultHolderResultQueue`. This class, as well as other unused classes

[2021-06-25 16:33] #3949 closed

[2021-06-25 20:24] fmbenhassine opened #3950 "Revisit the chunk-oriented processing model implementation"
## Problem statement

The current implementation of the chunk-oriented processing model works in most cases, but has several issues related to transaction management and fault-tolerance [1] as well as concurrency [2].

### Transaction management and fault-tolerance

I believe the main reason for that is the current structure of the code that uses multiple nested repeat/retry/transaction callbacks

[2021-06-27 20:43] farnetto commented on #3948
We do see added value in making the `TaskExecutor` step-scoped and passing in the `poolSize` as a job parameter. We want to be able to change the `poolSize` easily in production without redeploying the code or the overall job configuration.

[2021-06-28 09:19] benas commented on #3948
You can do that with a system property (or a similar mechanism provided by Spring Framework or Spring Boot), something like:

[code]

[code]

[2021-06-28 15:20] farnetto commented on #3947
Your example doesn't terminate. The main thread ends but all the threads in the pool block waiting on a new task. You need to call `setAllowCoreThreadTimeOut` or `setDaemon` on the `ThreadPoolTaskExecutor` or `shutdown` on the `ThreadPoolExecutor`.

You cap the concurrency at 5 with the throttle limit but permanently have 10 threads in the pool. That's a waste of resources, doesn't make any sense.

[2021-06-28 16:58] benas commented on #3947
That's not the real issue here, I updated the sample to shutdown the task executor with a listener after the job. That said, the task executor could be kept running if the JVM was used for something else after the job is finished (like for example to run subsequent scheduled jobs).

Of course it's a waste of resources in this particular case, that's why it is up to _you_ to correctly configure the

[2021-06-28 17:08] farnetto commented on #3947
I was actually not asking for an explanation. I understand what the throttle limit does because I have looked at the code. My point is the throttle limit is unclearly documented and explained at best.

The throttle limit is not a cap on the number of concurrent executions. It is the exact number of (dummy) runnables that are submitted to the `Executor` as long as the step is running, i.e. until th

[2021-06-28 17:21] farnetto opened #3951 "Batch hangs when throttle limit exceeds pool size + queue capacity in multithreaded step"
If `throttleLimit` exceeds the `ThreadPoolExecutor` pool size plus the `jobQueue` capacity (and using the default `RejectedExecutionHandler`), then the batch hangs when the job queue capacity in the executor is exceeded. Here is an example:

[code]

The `RejectedExecutionException` is added to the `deferred` list in `RepeatTemplate.doHandle` and the batch hangs waiting for results.

[2021-06-28 17:25] farnetto commented on #3947
With your example that setting a queue capacity it is easy to get the batch to hang with an inappropriate throttle limit - because throttle limit is not just a cap but also the fewest number of tasks. I've opened a bug report for this problem here: https://github.com/spring-projects/spring-batch/issues/3951.

[2021-06-29 07:12] LichKing-lee opened #3952 "Add support for Java Date and Time API types serialization in Jackson2ExecutionContextStringSerializer"
**Expected Behavior**

Jackson2ExecutionContextStringSerializer should be serialized the java time packages(e.g `LocalDate`)

**Current Behavior**

Currently an exception is thrown

**Context**

cause: https://github.com/FasterXML/jackson-databind/issues/2683

can resolve by create custom object, but I think it's better to be provided by default.

[2021-06-29 12:15] #3947 closed

[2021-06-29 12:54] benas commented on #3951
Thank you for opening this issue and for providing an example. I confirm that the execution hangs in this case. However, it is clearly mentioned in the Javadoc of [TaskExecutorRepeatTemplate.html#setThrottleLimit](https://docs.spring.io/spring-batch/docs/4.3.x/api/org/springframework/batch/repeat/support/TaskExecutorRepeatTemplate.html#setThrottleLimit-int-) that the thread pool size should be lar

[2021-06-29 12:54] #3951 closed

[2021-06-29 16:03] fmbenhassine opened #3954 "Use the Chunk API consistently"
A chunk of items is a key concept in the chunk-oriented processing model and is nicely modelled with the `org.springframework.batch.core.step.item.Chunk` API. This API is used in almost all interfaces/classes related to the implementation of this model (ie `ChunkProvider`, `ChunkProcessor`, etc) except for the `ItemWriter<T>` where a `List<? extends T>` is used instead. I believe `Chunk<T>` is a b

[2021-06-29 17:18] farnetto commented on #3947
Sorry, you're not going to sell me on this code. Just quoting the javadoc and claiming everything is correct is not going to convince anybody. Please read the code. You don't seem to be familiar with it. I've shown it is quite easy to produce a deadlock in multithreaded step among other things. We'll just have to hope for an improvement in v5 (after no improvement in v2-4). I have nothing left to

[2021-06-30 09:45] farnetto commented on #3951
Yes, the best thing to do when someone points out a deadlock in your code is to close the bug quickly and pretend the problem doesn't exist.

[2021-06-30 15:28] mminella commented on #3951
@farnetto I want to take a minute and thank you for the work you put into these issues. The samples and digging into the code have helped have a constructive dialog on this and the related issue (#3947). However I do want to point out that we try to maintain an inclusive environment where all members of the community are comfortable being involved without fear of personal attacks, trolling or insu

[2021-06-30 17:00] farnetto commented on #3951
I've pointed out a couple of minor problems (for #3948 I even submitted a PR), and a couple of severe problems with your code (i.e. hanging in two different situations that are not so unlikely), that have apparently been there undetected since version 1 (2008), and all I've gotten is condescension ("I see you're confused, let me explain what you're doing wrong"), and now I'm getting a lecture. No,

[2021-06-30 21:36] scordio opened #3955 "Improve testability of SystemCommandTasklet"
Currently, the `SystemCommandTasklet` is not so test-friendly, mainly due to the usage of `Runtime.getRuntime().exec(...)`:

https://github.com/spring-projects/spring-batch/blob/6b4c91632195dff3a5ac6059c7c69ac1063fad60/spring-batch-core/src/main/java/org/springframework/batch/core/step/tasklet/SystemCommandTasklet.java#L103

For example, testing a job or a step with this tasklet defined does not w

[2021-07-02 07:49] benas opened #3956 "Deprecate support for Neo4j"
This issue is for moving the support for Neo4j to the community-driven extensions repository: https://github.com/spring-projects/spring-batch-extensions/issues/75.

[2021-07-02 15:19] fmbenhassine opened #3957 "Add item writer for Redis"
This issue is to add support to write data to Redis based on Spring Data Redis.

[2021-07-02 17:05] santfirax commented on #3957
Hello @benas, I would like to work on this. Any chance that you can provide some guidance ?

[2021-07-05 08:04] benas commented on #3955
Thank you for opening this feature request. This makes sense to me, something like `CommandRunner` and `JvmCommandRunner` could indeed decouple the command execution from the tasklet and make it possible to mock/stub the `CommandRunner` in tests. You are welcome to open a PR for that.

[2021-07-05 08:37] benas commented on #3957
@santfirax Thank you for your offer to help! The writer could be based on `KeyValueItemWriter` for consistency with other key/value writers. For the reader, I need some time to reflect on the best way to read data from Redis (ie make the reader use a [RedisTemplate](https://docs.spring.io/spring-data/redis/docs/2.5.2/reference/html/#redis:template) or a [Redis Repository](https://docs.spring.io/sp

[2021-07-05 09:39] fmbenhassine opened #3960 "Revisit the default behaviour of job parameters conversion"
The current behaviour of the `DefaultJobParametersConverter` has been confusing in many situations:

* The way to specify parameter types with the `parameter(type)=value` notation is not friendly to command line arguments and environment variables
* The way to specify identifying / non identifying job parameters with `+`/`-` prefixes is not friendly with Spring Boot

While it is possible to provid

[2021-07-05 13:52] scordio commented on #3955
Thanks, @benas! I'll work on it.

[2021-07-06 12:47] #3092 closed

[2021-07-06 21:08] santfirax commented on #3957
Hello @benas I've created a PR for the write using RedisTemplate. https://github.com/spring-projects/spring-batch/pull/3961. Any chance that you can take a look at it ?

[2021-07-09 11:32] snate commented on #3892
I was able to reproduce the issue and the solution proposed by @dnl50 indeed works.
Using an image with a non-root user, for example https://hub.docker.com/r/jtim/maven-non-root, results in a successful build.

[2021-07-09 15:22] snate commented on #3838
Hi @benas , I tried to implement some of the changes for the test code in a PR.
Could you please have a look? Would it be better to have all changes for the test code in that PR?

[2021-07-12 08:35] qwazer opened #3963 "Spring batch metrics is not aware of JobExecutionListener that modify job status"
I have a Spring Boot 2.5.2 app with spring-batch-4.3.3
The app has a multi-step job and a custom JobStatusReportingListener

[code]

The problem that metrics at `actuator/metrics/spring.batch.job` doesn't contain tags with status="FAILED" that is set by JobExecutionListener

[2021-07-20 02:13] ashish571 opened #3966 "Multiple JobExecuions for same JobInstance In Multi-site environment"
Description:
We are using Spring Batch in a multi-site environment wherein each site has 2 instances so in total 4 instances of spring boot app which contains the same concerned batch job. The batch job is deployed in a Spring Boot app of which same version is deployed to both sites. Our one site is in Saint Louis, Missouri, US and another in Kansas City, Missouri, US. All instance's primary datab

[2021-07-22 20:55] baalaad commented on #3788
Any update on this issue. We still have similar issue.  Also raised new issue with more details - https://github.com/spring-projects/spring-batch/issues/3966

[2021-07-22 21:40] ashish571 commented on #3966
We found that the issue even occurs for single site multi instance scenario.
Since we wanted only 1 JobExecution for one JobInstance Id, the simplest solution we came up with is adding Unique constraint on JobExecution table for JobInstanceId.

ALTER TABLE BATCH_JOB_EXECUTION
ADD CONSTRAINT BATCH_JOB_EXECUTION_UK01 UNIQUE (JOB_INSTANCE_ID);

This fixed the issue for our requirement. This issue can

[2021-07-22 21:40] #3966 closed

[2021-07-29 10:58] unintended opened #3968 "NPE in JDBC ItemReaders after changes in spring-jdbc's AbstractFallbackSQLExceptionTranslator"
The spring-jdbc's SQLExceptionTranslator.translate() method is nullable (and was marked as nullable since 2017 https://github.com/spring-projects/spring-framework/commit/87598f48e41d483745aba56cbf4e998c6f6d680c)

However AbstractFallbackSQLExceptionTranslator that is used as base class  for all default spring-batch SQLExceptionTranslators become nullable (dirty move but quite legal) since May 2020

[2021-08-03 08:24] SebastianGoeb opened #3970 "Make KafkaItemWriter extensible and document its thread-safety"
I would like for `KafkaItemWriter` to be thread safe, considering `KafkaTemplate` is also thread safe. `FlatFileItemWriter`/`AbstractFileItemWriter` behaves similarly, doing nothing to ensure thread safety itself (beyond not sharing variables across thread boundaries), and instead relying on the underlying `BufferedWriter` to handle synchronization. The same thing should be possible for `KafkaItem

[2021-08-03 11:47] sgebauer-kgu commented on #2204
I've just encountered this issue and it seems that this is still not fixed. Is that correct? I'm not able to set a namespace with StaxEventItemWriter :(

[2021-08-05 07:56] benas commented on #3838
Hi @snate , thank you for your PR! I will take a look asap. It's ok to have multiple PRs for this.

[2021-08-05 08:54] benas commented on #3968
Thank you for raising this issue and for opening a PR! Indeed, that change in SF could now result in a NPE on the batch side. I planned the fix for the upcoming v4.3.4.

[2021-08-05 13:29] benas commented on #3970
Thank you for opening this issue. Instead of using `ThreadLocal.withInitial(ArrayList::new)` for `listenableFutures`, what about using a thread-safe data structure like `CopyOnWriteArrayList` for instance? Can you try that and share your feedback? Otherwise, please share the test that fails with a `ConcurrentModificationException` and we can discuss the best way to fix the issue.

I recommend disa

[2021-08-05 13:53] benas commented on #2204
@sgebauer-kgu You should be able to set a namespace on the root element as shown here: https://stackoverflow.com/a/58181423/5019386. Otherwise, please ask a question on StackOverflow and provide a minimal complete example that reproduces your issue and we will take a look.

[2021-08-05 16:20] SebastianGoeb commented on #3970
Is that a good idea? CopyOnWriteArrayList duplicates its entires contents every time it is written to. It's more useful for heavy read applications than heavy write applications. It would turn the simple `writeKeyValue()` loop in KeyValueItemWriter into an `O(n^2)` situation. This would be especially problematic in highly multithreaded applications (which we are trying to address here) because now

[2021-08-05 16:32] SebastianGoeb commented on #3970
About the test, it's a pretty big one, but it boils down to a Step that uses a JdbcPagingItemReader to grabs IDs from the DB, a Processor that turns IDs into JPA objects and JPA objects into Avro objects, and then the KafkaItemWriter that writes them to Kafka. the IT only runs the whole thing (with pageSize, chunkSize, currency all == 2, and auto-flush == true), and later expects that there should

[2021-08-06 20:13] benas commented on #3970
Thank you for your feedback, I understand the use case better now. You are right about the `CopyOnWriteArrayList`, it is indeed not a good idea here.

My concern with trying to introduce thread-safety techniques (whatever the technique is: thread locals, concurrent data structures, synchronization constructs, etc) is that, in addition to making the code complex, if we do it for the `KafkaItemWrite

[2021-08-09 16:13] benas commented on #3852
Seems to be resolved with #3856 (5 consecutive builds without failure).

[2021-08-09 16:13] #3852 closed

[2021-08-09 16:13] benas commented on #3851
Seems to be resolved with #3856 (5 consecutive builds without failure).

[2021-08-09 16:13] #3851 closed

[2021-08-11 19:29] #3901 closed

[2021-08-12 13:34] vincendep opened #3973 "Provide accessors in MongoItemWriter to facilitate extensions"
**Expected Behavior**

Provide accessors for collection and delete properties of MongoItemWriter, so that would be easier extending the class

**Current Behavior**

MongoItemWriter doesn't provide accessors for collection and delete properties

**Context**

Currently the MongoItemWriter has an extension point in doWrite method. I encountered some difficulties implementing
a custom "write or update

[2021-08-12 13:51] #3838 closed

[2021-08-12 14:18] edmentay opened #3974 "PassthruAdvice"
Hi, i am getting below error, when trying to run the job via rest controller then the below methods keep looping until it hit Stackoverflow error...
	at org.springframework.aop.framework.ReflectiveMethodInvocation.proceed(ReflectiveMethodInvocation.java:186) ~[spring-aop-5.3.8.jar!/:5.3.8]
	at org.springframework.aop.framework.JdkDynamicAopProxy.invoke(JdkDynamicAopProxy.java:215) ~[spring-aop-5.3

[2021-08-12 14:19] edmentay commented on #3974
is there anyone able to help this or this is the bug in new version?

[2021-08-13 06:45] langzime commented on #3797
same question

[2021-08-15 05:00] SebastianGoeb commented on #3970
Unfortunately, if we do nothing, it's also inconsistent, because some ItemWriters are thread safe and some aren't. For example, FlatFileItemWriter is thread safe, KafkaItemWriter isn't, JpaItemWriter and JdbcBatchItemWriter are thread safe again. I can't see any structure to this, that would let me tell which item writer is thread safe and which isn't without reading the source. Some are obviously

[2021-08-15 18:08] santfirax commented on #3973
Hello @vincendep. I'm wondering what exactly is what you need. Do you need a getter for those two fields or would you like to get protected fields for extending the class?.

[2021-08-15 18:14] santfirax commented on #3973
Hello @vincendep I have added a PR for this issue. @benas any chance that you can take a look at the PR? https://github.com/spring-projects/spring-batch/pull/3975

[2021-08-15 18:24] vincendep commented on #3973
Hello @santfirax. I don't know what is the best way to go, I just found a bit difficult to extend the MongoItemWriter. I tought about getters only because the one for the MongoTemplate is already provided

[2021-08-16 10:39] #3839 closed

[2021-08-17 19:35] #3836 closed

[2021-08-18 06:22] benas commented on #3974
We provide [support](https://github.com/spring-projects/spring-batch/blob/main/SUPPORT.md) on StackOverflow. Please ask a question there and provide a [minimal complete example](https://stackoverflow.com/help/minimal-reproducible-example) that reproduces the issue to be able to help you in an efficient way. If we validate that there is a bug in Spring Batch, we will open an issue here.

Thank you

[2021-08-18 06:22] #3974 closed

[2021-08-18 18:17] #3968 closed

[2021-08-20 09:12] marschall opened #3976 "JobScopeTestExecutionListener invokes methods with JobExecution return type"
**Bug description**
`JobScopeTestExecutionListener` invokes any method with the `JobExecution` return type. Consider the following test with uses a utility method to launch a job. The method will be invoked by `JobScopeTestExecutionListener` before the `@BeforeEach` and `@Test` method. In this case causing the test to fail because the `jobParameters` is `null`.

[code]

**Environment**
Spring Batc

[2021-08-20 10:25] hpoettker commented on #3976
I'm afraid, it's not a bug but a feature. 😄 The javadoc on `JobScopeTestExecutionListener#getJobExecution` is indeed misleading but the comment on class level is correct. And it's also described in the reference documentation: https://docs.spring.io/spring-batch/docs/4.3.x/reference/html/testing.html#testing-step-scoped-components

I was also quite surprised when I stumbled on this in a similar ma

[2021-08-23 15:46] marschall opened #3980 "Consider making JobParameters#getParameters() immutable"
`JobParameters#getParameters()` currently returns a mutable defensive copy of the job parameters, even though the Javadoc says

This means that anybody who just wants read-only access to the job parameters, eg. only to iterate over them, eg. `SimpleJobRepository#createJobExecution` has to incur the cost of a defensive copy of a `LinkedHashMap`. Copying a `LinkedHashMap` is unfortunately quite expe

[2021-08-24 10:11] #913 closed

[2021-08-24 10:16] benas commented on #1287
Minimal complete example to reproduce the issue here: https://github.com/benas/spring-batch-lab/tree/main/issues/gh1287

[2021-08-26 23:12] kimgysen opened #3982 "Need to add doctype on second line + indentation"
**Expected Behavior**

I need to a custom line below the xml encoding / version header to define a custom doctype using StaxEventItemWriter.

**Current Behavior**

I have no idea how to do it. When going through the source code, unless I'm missing it, it would appear that no flexibility is offered to add that extra line if needed.

**Context**
My xml should look as follows:

[code]
The reason I ne

[2021-08-27 09:23] #763 closed, assigned to nobody

[2021-08-30 13:13] marschall opened #3983 "JdbcExecutionContextDao serializes as ISO-8859-1"
`JdbcExecutionContextDao` serializes as [ISO-8859-1](https://en.wikipedia.org/wiki/ISO/IEC_8859-1)

https://github.com/spring-projects/spring-batch/blob/d0ab497312c0f08e096739dcb005a9487b4f1efc/spring-batch-core/src/main/java/org/springframework/batch/core/repository/dao/JdbcExecutionContextDao.java#L77

This limits us to the ISO-8859-1 repertoire, even simple things like the Euro sign € are not s

[2021-08-30 16:56] acktsap opened #3984 "Kotlin Dsl for job, step, flow definition"
I would like to introduce kotlin dsl. I've made some kotlin dsl for job, step definition and we are using it in our office. Using that, we can define bean like this.

[code]

I've uploaded some part of the code in my repository ([code](https://github.com/acktsap/spring-batch/tree/feature/kotlin-dsl/spring-batch-core/src/main/kotlin/org/springframework/batch/core), [test](https://github.com/acktsap

[2021-08-31 07:55] benas commented on #3982
That's the way to go (see comments on the SO question linked above).

[2021-08-31 07:55] #3982 closed

[2021-09-01 09:57] marschall opened #3987 "Sorting in JdbcJobExecutionDao.GET_RUNNING_EXECUTIONS makes no sense"
`JdbcJobExecutionDao#GET_RUNNING_EXECUTIONS` currently has `order by E.JOB_EXECUTION_ID desc` however `JdbcJobExecutionDao#findRunningJobExecutions(String)` returns a `HashSet` therefore the iteration order is undefined. We should either

* remove the `order by`
* return a `TreeSet`

[2021-09-02 11:20] #3956 closed

[2021-09-02 12:52] #3984 closed

[2021-09-02 13:30] benas commented on #3983
This is a good candidate for v5. UTF-8 seems a reasonable default to me (similar to [JEP 400: UTF-8 by default](https://openjdk.java.net/jeps/400), even if this is for a different purpose). What do you think?

This might require increasing the current default value of `maxVarCharLength` in JobRepositoryFactoryBean and DDL scripts.

[2021-09-02 15:06] marschall commented on #3983
Yes, assuming we want to keep `ExecutionContextSerializer` `byte`-based (`InputStream`/`OutputStream`) and not switch it to `char`-based (`Reader`/`Writer`). If we switch them to be `char`-based we can get rid of the entire encoding.

Switching to UTF-8 likely will break code that uses `DefaultExecutionContextSerializer` as it is unlikely to produce valid UTF-8. We would have to change `DefaultExe

[2021-09-03 12:54] #3794 closed

[2021-09-03 16:30] #1577 closed

[2021-09-03 19:45] rcardin commented on #877
Hey, guys. I and some friends could be interested in implementing this feature. If so, does anyone on the Spring Batch team can help us with some hints?

[2021-09-03 20:23] benas commented on #877
@rcardin Thank you for your interest to help! You would need to implement 4 DAO interfaces (`JobInstanceDao`, `JobExecutionDao`, `StepExecutionDao`, `ExecutionContextDao`) and a factory bean that extends `AbstractJobRepositoryFactoryBean`. The abstract factory bean already takes care of creating a transactional proxy (that would be based on a `MongoTransactionManager`) around a `SimpleJobRepositor

[2021-09-06 15:43] carikk commented on #759
@deepak-kongath I just did what you said and it's sorted .. But the problem is the column "a.person_id" is not found in the resultSet ... it gives <<null>> ... is there a way to solve this please ?

[2021-09-07 15:43] adrianriley opened #3990 "JdbcJobExecutionDao throws NullPointerException"
**Bug description**
BATCH_JOB_EXECUTION.STATUS may be null. If it is, a NullPointerException is thrown by JdbcJobExecutionDao.JobExecutionRowMapper.mapRow, See this line:

`jobExecution.setStatus(BatchStatus.valueOf(rs.getString(4)));`

**Environment**
spring-batch-core 4.2.1.RELEASE. But the bug still appears to be there in 5.0.0-SNAPSHOT

**Steps to reproduce**
Actually happened calling JdbcJobE

[2021-09-07 20:12] rcardin commented on #877
Hey @benas. First, thanks for pointing us to your stubs. They're handy. We started to look at the code, and we noticed immediately that the main business classes, such as `JobExecution` and `JobInstance`, extend a class called `Entity`. This class forces us to have a `Long` for every object.

However, as you know, Mongo doesn't generate ids of type `Long`, and there is no simple way to generate an

[2021-09-07 21:15] cppwfs opened #3991 "Circular reference error when autowiring JobBuilderFactory"
## Scenario
When a user autowires `JobBuilderFactory` and `StepBuilderFactory` in a Java configuration where one of the beans required by the batch application is in the same configuration, boot throws a `BeanCurrentlyInCreationException`.
Starting in Spring Boot 2.6.M2,  boot checks for circular references by default ( `spring.main.allow-circular-references=false`) .   In previous releases of spr

[2021-09-08 14:08] benas commented on #877
I think you are hitting an issue similar to https://github.com/spring-projects/spring-batch/issues/1317. The implications of this choice touch not only the domain model (which is designed [around sequences](https://docs.spring.io/spring-batch/docs/4.3.x/reference/html/schema-appendix.html#metaDataIdentity)), but also other core parts of the framework, like:

* All APIs related to these entities ar

[2021-09-08 14:38] rcardin commented on #877
@benas, thanks for the detailed response. We completely agree with you. We will implement a prototype that mimics sequences using Mongo features.

[2021-09-08 14:40] benas commented on #3990
`BATCH_JOB_EXECUTION.STATUS` should not be `null`. It starts with [STARTING](https://github.com/spring-projects/spring-batch/blob/bb3809cf55c68ecd923a5191e1880ef009b9c7ce/spring-batch-core/src/main/java/org/springframework/batch/core/JobExecution.java#L52) and is updated to other non null values during the job execution. Unless updated manually to `null` in the database (which is not supposed to b

[2021-09-08 16:14] mcherb opened #3992 "One reader, multiple processors and writers"
**Expected Behavior**

The idea is to allow one reader to be processed by one or multiple processors/writers like the following :

[code]

**Context**

I'm facing almost the same issue like the one described in this [SO](https://stackoverflow.com/questions/18999724/spring-batch-one-reader-multiple-processors-and-writers) post.

<pre>
                        item
                        +--->  Item

[2021-09-08 20:07] benas commented on #3987
Thank you for raising this. The contract of `JobExecutionDao#findRunningJobExecutions` does not specify the order in which running executions are returned (hence the `Set` return type). So clients should not be expecting any order or any sorted data structure. I think the `order by` clause is irrelevant here and could be removed.

[2021-09-09 07:59] benas opened #3993 "Document default types of beans registered by EnableBatchProcessing annotation"
The `@EnableBatchProcessing` annotation does a good job in documenting which beans are registered in the application context and how to use or customize them. However, it does not specify which implementation of each bean is used by default.

For example, the annotation mentions that a `JobLauncher` is registered as a bean named `jobLauncher`, but does not specify that it is a `SimpleJobLauncher`

[2021-09-09 09:43] adrianriley commented on #3990
Sorry, I can't see how it happened either. I've seen one instance from some months ago, but it's only just come to light by implementing use of `findRunningJobExecutions()`. Logging of the execution which created the row in the SCDF logs is minimal, so my guess is that it was created by running the application outside of the SCDF server, using the same DB. As you say, the initial creation of the r

[2021-09-09 10:14] benas opened #3994 "Upgrade minimum Java version to 17"
Spring Batch 5 will be based on Spring Framework 6, which [will have Java 17 as its baseline](https://spring.io/blog/2021/09/02/a-java-17-and-jakarta-ee-9-baseline-for-spring-framework-6). This issue is to upgrade the minimum Java version to 17 for Spring Batch 5.

[2021-09-09 13:12] #1154 closed

[2021-09-09 15:04] #3913 closed

[2021-09-09 16:04] Vickd811 commented on #3631
Thanks @benas , it resolved the issue. The other behavior i am observing is re-process of last processed offset for a fixed delay scheduled job. So, i am using kafka reader for one of my job where i need to submit the job after every 10 seconds of previous job completion. It is scheduled with a fixed delay, so once first instance of the job is completed, scheduler submits another instance after 10

[2021-09-09 18:10] benas commented on #3631
@Vickd811 Glad it helped. For the other question, please ask it on StackOverflow. We would like to keep the issue tracker exclusively for bug reports and feature requests, see https://github.com/spring-projects/spring-batch/blob/main/SUPPORT.md. Thank you.

[2021-09-10 07:43] #3924 closed

[2021-09-10 07:46] #3925 closed

[2021-09-10 08:51] #3929 closed

[2021-09-10 13:48] chpasha opened #3996 "Order of Transition Elements Still Does Not completely adhere to documentation"
**Bug description**
The original issue was fixed here https://github.com/spring-projects/spring-batch/issues/3638 but the the way the DefaultStateTransitionComparator works is stll different from what documentation says:
it states that

but the javadoc in comparator says

this looks wrong to me since foo* is more specific pattern then  * so it should fire before. Consider situation where Step exec

[2021-09-11 08:25] andochiwa opened #3998 "Is there any idea to support r2dbc in the future?"
Spring batch uses jdbc by default for logging. But when I use webflux and r2dbc it seems to be unable to perform database persistence. Is there a solution to support r2dbc in the future?

[2021-09-13 10:07] omheni opened #4000 "Create table BATCH_JOB_EXECUTION throws SqlSyntaxErrorException with db2"
**Expected Behavior**

Create all the tables( 6 tables) found in the **schema-db2.sql** script.

**Current Behavior**
Create Only the first table and skip the creation of the 5 others, following an exception thrown when creating the table **BATCH_JOB_EXECUTION**

_SqlSyntaxErrorException: DB2 SQL Error: SQLCODE=-104, SQLSTATE=42601, SQLERRMC=,;N VARCHAR(2500) null;<references_spec>...._

In fact	J

[2021-09-13 13:22] omheni opened #4001 "Create table BATCH_JOB_EXECUTION throws SqlSyntaxErrorException with db2 v9"
Please do a quick search on Github issues first, there might be already a duplicate issue for the one you are about to create.
If the bug is trivial, just go ahead and create the issue. Otherwise, please take a few moments and fill in the following sections:

**Bug description**
An exception thrown when running the **schema-db2.sql**  script, while creating BATCH_JOB_EXECUTION table ...

SqlSyntax

[2021-09-13 17:21] benas commented on #4000
Closing this as duplicate of #4001 .

[2021-09-13 17:21] #4000 closed

[2021-09-13 17:45] benas commented on #4001
Thank you for reporting this issue. There seems to be a difference in behaviour between DB2 versions with regard to nullable columns declaration. The [Db2JobRepositoryIntegrationTests](https://github.com/spring-projects/spring-batch/blob/main/spring-batch-core/src/test/java/org/springframework/batch/core/test/repository/Db2JobRepositoryIntegrationTests.java) , which executes the `schema-db2.sql` s

[2021-09-13 19:48] benas commented on #3940
Thank you for reporting this issue and for providing a minimal example! Indeed, `BatchTestContextCustomizer` must implement `equals()/hashCode()` as requested by the `ContextCustomizer` contract.

[2021-09-13 19:49] #3940 closed

[2021-09-14 18:51] sjh836 opened #4004 "Consider exposing the internal map as read-only in ExecutionContext"
The current code is exposing `this.map.entrySet()` instead of `this.map`.
JobContext and StepContext are converting to `Map` using `EntrySet`.
Also, the entrySet is being exposed as modifiable.

I think, If the map being exposed is read-only, there is no problem.
This does not violate this comment. (`It is a thin wrapper for a map that allows optionally for type safety on reads.`)

I want to add a

[2021-09-14 20:04] pavan2017 commented on #3771
@benas yes it is same issue as #1104 . you can reproduce this by example provided above. Workaround to get this working is using DefaultExecutionContextSerializer. It would be nice to get this fixed and use Jackson2ExecutionContextStringSerializer

[2021-09-15 13:48] luka223 commented on #1087
Hi,

Is there any ETA when PR will be merged?

[2021-09-15 18:57] #3994 closed

[2021-09-15 19:07] benas commented on #1087
This feature will be included in Spring Batch v5, which will be based on Spring Framework v6. The release date has not been set yet as it depends on Spring Framework, but it should be sometime in Q4 2022 after [Spring Framework v6 GA](https://spring.io/blog/2021/09/02/a-java-17-and-jakarta-ee-9-baseline-for-spring-framework-6).

[2021-09-16 14:15] benas commented on #3771
Thank you for your feedback. This seems to be related to your custom serializer. I did a test [here](https://github.com/benas/spring-batch-lab/blob/main/issues/gh3771/src/main/java/io/spring/MyJob.java) and the restart works as expected with the default `Jackson2ExecutionContextStringSerializer` configured by Spring Batch. Could you please confirm if you still have the issue with the default confi

[2021-09-16 15:30] pavansinguluri commented on #3771
Can you also try to override DefaultBatchConfigurer as in example? As you can see DefaultBatchConfigurer is not doing anything more than setting table prefix and isolation level. Would appreciate if you correct in BatchConfigurer in the example?

[2021-09-17 09:31] #1422 closed

[2021-09-17 09:31] #2000 closed

[2021-09-17 13:22] #1127 closed

[2021-09-17 13:45] #864 closed

[2021-09-17 18:30] #1448 closed

[2021-09-24 01:37] ThomasYoung1989 opened #4006 "springbatch remotepartition polling‘s bug"
I‘m using remotepartition polling;When the size of partition is less than 100,it works well;When the size is bigger,some of the partitionSteps  remained 'STARTING' status,and the size is random; here is my woker configuration：

`

   /**
     *TaskExecutor
     */
    @Bean(name = "remoteStepBillTaskExecutor")
    public ThreadPoolTaskExecutor remoteStepBillTaskExecutor() {
        ThreadPoolTaskE

[2021-09-24 05:53] ThomasYoung1989 commented on #4006
i know why; When the woker throw exception,the job will never complete;here is my exception:
`org.springframework.messaging.MessageHandlingException: nested exception is org.springframework.jdbc.CannotGetJdbcConnectionException: Failed to obtain JDBC Connection; nested exception is java.sql.SQLTransientConnectionException: hikaricp - Connection is not available, request timed out after 30000ms., f

[2021-09-24 08:24] benas commented on #3898
Thank you for reporting this issue. Indeed, the reader fails with an empty result set in a multi-threaded step.

[2021-09-24 08:27] benas commented on #3898
Resolved with #3959.

[2021-09-24 08:27] #3898 closed

[2021-09-24 14:20] benas commented on #4006
I don't see how the number of partitions is related to that. If one of the workers fails, the manager should fail as well (or timeout and fail). Please provide a minimal complete example that reproduces the issue to be able to debug the case. Thank you upfront.

[2021-09-29 12:39] benas commented on #3650
@ArtyomGabeev Thank you for reporting this issue. The problem can also happen in a locally or remotely partitioned/chunked step: each worker could contribute a read/write count and the aggregation might silently fail with an integer overflow on the manager side, leading to incorrect counters in the aggregate `StepExecution`. An example can be found [here](https://github.com/benas/spring-batch-lab/

[2021-09-29 13:00] javaHelper commented on #3998
Is there any plan to take it forward?

[2021-09-29 13:03] javaHelper commented on #3992
I think this is much needed functionality, any plan to make this available?

[2021-09-29 13:45] #3650 closed

[2021-09-29 14:08] benas commented on #3998
This is being discussed as part of #1008. The scope of reactive support is larger than jdbc vs r2dbc. Please share your thoughts in #1008 and follow the updates there.

[2021-09-29 14:08] #3998 closed

[2021-09-29 19:50] acktsap commented on #3686
I can't reproduce it by a syntax error.

![Screen Shot 2021-09-30 at 4 47 06](https://user-images.githubusercontent.com/24649991/135338171-ee113441-16d7-4838-9aa5-0be5537281a7.png)

It looks because the transactionAttribute returns AbstractTaskletStepBuilder<B>, not SimpleStepBuilder.

https://github.com/spring-projects/spring-batch/blob/327160a3ab02a4d94e1d951f64e73bcb5b5cfc24/spring-batch-core/s

[2021-09-30 07:08] acktsap commented on #3686
But if https://github.com/spring-projects/spring-batch/pull/3989 is merged, it should be fixed.

[2021-09-30 17:30] jvitoralmeida commented on #3666
where is the implementation?? :(

[2021-10-01 17:39] #3980 closed

[2021-10-05 13:44] artsgard commented on #3634
I have upgraded my spring-boot-starter-parent from 2.2.2 to 2.4.3 and the query problem is still there: running a simple select query of less than a millisecond that turns into 100/ 200 milliseconds, delaying my batch dramatically! The select query runs at the processor section of the batch, passing through all the chunks of size 500. The DB I am using is a Postgress one.

[2021-10-12 11:27] sereysopheak opened #4011 "Remote partitioning with aggregate replies, the partition manager didn't notify the completion correctly if the manager app got restarted"
Remote partitioning with aggregate replies, the partition manager didn't notify the job completion correctly if the manager app got restarted. I'm trying to configure it to use Kafka as the messaging channel. Everything is working fine if the manager keeps running while worker processing the job. At one point if manager instance is shut down and restarted, I can see the worker is still processing

[2021-10-13 15:53] chpasha opened #4012 "AbstractCursorItemReader is losing original SQL-Exception"
**Bug description**
AbstractCursorItemReader is losing original SQLException in method doRead (row 500) - the chain of getExceptionTranslator().translate results in null, which is thrown from catch block, resulting in meaningless NullPointerException instead of original one

**Environment**
Spring Boot 2.5.5, Ubuntu and Windows, Microsoft SQL Server 15

**Steps to reproduce**
consider following se

[2021-10-14 11:40] quanzen8labs opened #4013 "MultiResourceItemWriter creates an empty file if the number of item to write as itemCountLimitPerResource"
Hi,

I set the number of items to write as itemCountLimitPerResource.

My item processor returns null in some cases, so the **write function** of the **MultiResourceItemWriter** was called with empty input.

Then one empty file was created.

Should we ignore this function if the items are empty?

Thank you for your great framework.

![Screen Shot 2021-10-14 at 6 38 27 PM](https://user-images.githu

[2021-10-18 16:44] vincent-fuchs opened #4016 "documentation : example for in-memory repository, with no deprecated classes"
The current example provided in the documentation to run a job with an in-memory repository actually uses `MapJobRepositoryFactoryBean`, which is deprecated.

https://docs.spring.io/spring-batch/docs/current/reference/html/index-single.html#inMemoryRepository

It would be good to review the example and provide one that shows the "real" recommended way.. I guess it would be way to use an H2 datasou

[2021-10-19 11:27] adil-belmehdi opened #4017 "rewrite/optimize JdbcStepExecutionDao GET_LAST_STEP_EXECUTION and COUNT_STEP_EXECUTIONS"
Hello,
We are investigating some massive index scan on a spring-batch database and we noticed that these queries `COUNT_STEP_EXECUTIONS` and `COUNT_STEP_EXECUTIONS` in `JdbcStepExecutionDao` can be optimized.
In fact, these queries seems to use a useless sub-query, and so, will scan the `BATCH_JOB_EXECUTION` table twice.
These queries can be re-written like below without any impact on the current

[2021-10-22 18:31] ces518 opened #4020 "Q. Hibernate ItemWriter can work?"
Hi, I am testing because I have to use a spring batch.
I found something strange while using the hibernate itemwriter.

It has been confirmed that the hibernate transactionmanager is used, and the itemwriter cannot be flushed

It operates normally when using jpaitemwriter and jpatransactionmanager.

Is this a bug?
Or I wonder if I missed any setting.
thanks

![스크린샷 2021-10-23 오전 3 26 22](

[2021-10-23 11:29] ces518 opened #4021 "Collection's empty data check using `CollectionUtils.isEmpty`"
Hi, I saw parameterValues check using `parameterValues != null` in HibernateItemReaderHelper
I don't think it's a good way.
How about using `CollectionUtils.isEmpty` ?
Only null checking may be a code that relies on an internal implementation, Intellij is also displaying warnings.

thanks. :)

![스크린샷 2021-10-23 오후 8 22 37](https://user-images.githubusercontent.com/40373936/138554177-43d4af

[2021-10-31 09:48] esoni opened #4023 "Spring batch terminate in started status after sigterm"
Hi All,
i have a job that run on k8s. During a shutdown for a cluster update k8s send SIGTERM to my container.
My goal is to
- handle sigterm in a function
- in this function i want to call stop job and wait the termination
I m able to add a shutdown hook using
`Runtime.getRuntime().addShutdownHook(new Thread() {`
but in the meanwhile spring batch automatically terminate when i receive SIGTERM and

[2021-10-31 10:15] yl-coder commented on #3771
Hi, i faced this also.
I managed to reproduce in @benas code by using manually created Jackson2ExecutionContextStringSerializer

https://github.com/yl-coder/spring-batch-lab/blob/poc/reproduce-serialization-issue/issues/gh3771/src/main/java/io/spring/MyJob.java

I not very sure how the default Jackson2ExecutionContextStringSerializer gets constructed.

[code]

[2021-10-31 10:47] yl-coder commented on #3771
I realized that this error only happens if i pass in a self created object mapper.

[code]

This works fine.

But this doesn't
[code]

I highly suspect that it is because setObjectMapper didn't call this
 this.objectMapper.setDefaultTyping(createTrustedDefaultTyping(trustedClassNames));

Can i work on a fix for this?

[2021-11-03 19:29] jickoo opened #4024 "Slow Query in JdbcJobInstanceDao.getLastJobInstance()"
I use spring-batch-core 4.3.3.
Slow query has occured in FIND_LAST_JOB_INSTANCE_BY_JOB_NAME sql.

[code]

Executed query.
[code]

Currently I have about 10,000 rows.
My db socket timeout is 6 seconds and Exception occurred because the above query exceeded 6 seconds.
For MySql query performance, it seems that the query needs to be modified as follows.

### solution 1
do not use 'IN' query
[code]
##

[2021-11-04 13:20] yl-coder commented on #3771
I have verified that it is because the custom objectmapper didn't have the necessary typing to parse correctly.

Just wondering if we should provide another method in Jackson2ExecutionContextStringSerializer to do that?

For e.g.
[code]

[2021-11-04 16:50] wokier opened #4025 "Exception message incorrect in arguments check"
The exception is thrown with a message containing `jobParameters` , which is not what is used in the if to do the check.

https://github.com/spring-projects/spring-batch/blob/d24eb6a6eda857c9a6123795c76b11264622894e/spring-batch-core/src/main/java/org/springframework/batch/core/repository/support/SimpleJobRepository.java#L140

Exists since 3.0.10.RELEASE at least.

[2021-11-05 00:56] yl-coder commented on #3771
my bad, actually the documentation of Jackson2ExecutionContextStringSerializer mention we should call activateDefaultTyping manually if we want to use our own custom object mapper. It works fine now!

[code]

[2021-11-08 19:53] hmojicag commented on #1844
Spring batch metadata is actually ephemeral and data that is in COMPLETED or FAILED status seem to not be used anymore by anything, I would recommend deleting it to free up storage space, unless you actually want to keep those 90 days of historic batch processes for audit reasons.

I implemented this script which basically deletes everything that is not in use in the right order to avoid dependenc

[2021-11-11 16:59] finci-square commented on #3748
Not to hijack this thread, but i'm also somewhat confused about the intended outcome of these configurations.  I posted a github question here:

https://stackoverflow.com/questions/69932026/how-to-configure-step-which-fails-on-any-read-exception-never-rolls-back-but-s

[2021-11-15 09:45] ashokrajkumarmuthuswamy commented on #845
Please advise when this issue is expected to be resolved? any timeline?
Thanks.

[2021-11-17 13:59] benas commented on #3923
Closing this issue as 4.2.8 has been released: https://github.com/spring-projects/spring-batch/releases/tag/4.2.8.RELEASE

[2021-11-17 13:59] #3923 closed

[2021-11-19 23:21] Sam-Kruglov opened #4026 "ItemStream is not recognized on scoped steps"
**Bug description**
If I declare a `@StepScope @Bean` method with return type `JsonItemReader`, it will get wrapped in a lazy proxy. In this case, `instanceof ItemStream` returns `true` and `open()` is called.

<img width="1157" alt="Screenshot 2021-11-19 at 18 30 05" src="https://user-images.githubusercontent.com/23556336/142703801-cc96674f-f5ac-423f-8960-c54dfbfbb670.png">

If I declare a `@Step

[2021-11-20 00:33] Sam-Kruglov commented on #4026
My usecase:
1. I poll a bunch of messages. I couldn't find a way to poll from spring batch, so I poll via quartz and on each poll I start/restart the same job instance (I'm polling multiple sources with different clients, each poll has its own job instance).
3. I want to make the processing robust, so I serialize the messages back to JSON and persist into job parameters as String (I changed SQL sc

[2021-11-22 10:27] benas opened #4027 "Upgrade Spring dependencies to major versions"
In preparation for Spring Batch 5, Spring dependencies should be upgraded to the following major versions:

* Spring Framework 6
* Spring Integration 6
* Spring Data 3
* Spring AMQP 3
* Spring for Apache Kafka 3

[2021-11-22 11:22] #3656 closed

[2021-11-22 11:22] #4027 closed

[2021-11-22 12:21] munnema commented on #3767
Hi, do we have update on this enhancement

[2021-11-22 15:23] #816 closed

[2021-11-22 16:05] marschall commented on #3767
@munnema you could have a look at [spring-batch-inmemory](https://github.com/marschall/spring-batch-inmemory) that gives you a `NullDataSource`, you will have to use one of the custom repositories and job explorers though.

[2021-11-22 16:19] munnema commented on #3767
Hi @marschall
Thanks for getting back on query
Can I mock JobRepositoryTestUtils bean that is implicitly registered by @SpringBatchTest and couldn't see any option to exclude this bean to be registered by @SpringBatchTest, I really don't want to save and remove jobexecution.

[2021-11-22 18:37] mdeinum commented on #4026
The problem is the return type of your method. The proxy is determined based on the return type of the method. In your case only an `ItemReader`. When doing things like this be as specific as possible, make the method return type `JsonItemReader` instead.

[2021-11-22 19:20] marschall commented on #3767
@munnema maybe it's better to raise an issue in that project and keep the discussion on this issue on topic

[2021-11-22 19:46] mdeinum opened #4028 "No pom.xml for published artifacts for 5.0.0-SNAPSHOT"
I upgrade my Spring Batch dependencies to 5.0.0-SNAPSHOT however apparently there is no `pom.xml` published for these versions, leading to Gradle not being able to resolve them from the snapshot Spring repository.

See: https://repo.spring.io/ui/native/snapshot/org/springframework/batch/spring-batch-core/5.0.0-SNAPSHOT for the published artifacts.

[2021-11-22 22:50] Sam-Kruglov commented on #4026
I know, but I think it should still be able figure the real type out during step initialization.

[2021-11-23 06:25] mdeinum commented on #4026
The problem is that the proxy is created very early in the process by Spring (not Spring Batch) and if you want to figure the type out you would need to instantiate the beans which is something you want to prevent. Now especially in your case where you want to switch this might lead to instantiating multiple beans which you don't want.

Next it isn't possible as well as the `Step` is a singleton w

[2021-11-23 10:31] benas commented on #4028
Thank you for raising this. Looking into it.

[2021-11-23 19:35] mdeinum commented on #4028
Apparently the poms now get published (at least I do have some downloads and looking in the repositories shows for the last version that there is a .pom file available).

[2021-11-24 14:34] benas commented on #4028
Yes, an issue has been fixed in the deployment process. Thank you for raising this issue!

[2021-11-24 14:34] #4028 closed

[2021-11-24 16:50] Sam-Kruglov commented on #4026
Thanks for the suggestions, I'll try them out for sure! About no-op, I even thought of myself. I'll take a look if Spring Integration can persist incoming messages.

I still think it can be done at runtime before the step. For example, I was able to get the real reader in a step listener but I couldn't register it because don't have access to it through `StepExecution`:

[code]

It will just deleg

[2021-11-24 19:05] mdeinum commented on #4026
With one problem that the scoped proxy is initialized early on, which wouldn't allow for changing the reader from different executions (unless you fully restart the job).

[2021-11-24 19:11] Sam-Kruglov commented on #4026
I'm fairly new to spring batch, can you say a couple of keywords I can search about changing the reader from executions? Can't find anything about it.

[2021-11-24 19:16] mdeinum commented on #4026
In your own question you state that you switch the reader based on a `ThreadLocal` variable. Also judging from your own code you are using `@StepScope`. So how/when you switch is already there (judging by your own question). A job configuration is loaded once and your `Step` is a singleton definition, whereas your reader is `@StepScope` so a new one will be created per run of this job. So if you k

[2021-11-24 19:21] Sam-Kruglov commented on #4026
Right, makes sense. So, the step should be `@JobScope` also, so it's different for each run. That should solve it. I already have it scoped in my real code as I'm using the thread local inside my processor.

[2021-11-24 19:23] Sam-Kruglov commented on #4026
In general case though, I think we can assume people don't supply dynamic readers, so this listener logic can still help if user declared `JsonItemReader` as `ItemReader` bean. A note can be added to the docs saying for dynamic readers you must use `@JobScope` on the step.

[2021-11-25 00:56] Sam-Kruglov commented on #4026
Off-topic, about the suggestions.

I actually can not only get data by polling an external system but also by accepting an HTTP request from an external system, for which it will hang until the job is complete and give the calculated response. The job should be done in under 3-5 seconds. So, I think introducing an internal channel for incoming data will make responding to HTTP request more complex

[2021-11-26 05:49] chpritam commented on #1096
Any update on this ticket?

[2021-11-26 10:09] benas commented on #4017
Thank you for raising this issue and for opening a PR! I will address this enhancement in the next release.

[2021-11-26 10:15] benas commented on #4020
Thank you for opening this issue. Could you please provide a minimal code example that reproduces the issue? Thank you upfront.

[2021-12-01 14:49] p1xel-dev commented on #1127
Hi @benas, Hi All...

Just adding my 2 cents here. We have dropped the batch tables and created them with the SEGMENT CREATION IMMEDIATE, and the issue is still persisting.

Our Setup so far:
- Oracle Database 19c Enterprise Edition Release 19.0.0.0.0 - Production
- Changed INITRANS value to 3 to all batch job tables
- MAXPOOL size of 5 in the JDBC Connection Params
- Isolation Level: TRANSACTION_

[2021-12-02 02:17] anumalasri opened #4030 "Batch Job ExecutionContext was unable to deserialize"
We did find similar issues reported earlier, however, there is no workaround and fix.  We kind of stuck with this issue.  Hope someone has workaround or fix.

**Bug description**
When Spring batch job failed, we are trying to restart Job using 'jobOperator.restart(jobid)'

**Environment**
Please provide as many details as possible: Spring Batch version, Java version, which database you use if any,

[2021-12-02 09:58] grimch commented on #1127
@p1xel-dev
To narrow down the issue you are facing I would suggest to do the following:

a)
Try to insert a record directly into table "batch_job_instance"
`
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;

INSERT
    INTO batch_job_instance (
        job_instance_id,
        job_name,
        job_key,
        version
    ) values (
    batch_job_seq.NEXTVAL,
    'TEST_JOB', 'TEST_JOB_KEY', 1
);
COM

[2021-12-02 16:10] p1xel-dev commented on #1127
Hi @grimch, Thanks for your answer.

So, I tested a) and it worked correctly using SQLDeveloper.

![Screen Shot 2021-12-02 at 11 08 58 AM](https://user-images.githubusercontent.com/8294699/144459200-18f54379-1931-4a18-b235-b4dbb655b35f.png)
l)

[2021-12-03 05:32] grimch commented on #1127
Hi,

it looks to me that you had executed a) in a table wich already had records in it. If this was the case, then the segment already would have been there and no error was to be expected.

If the latter wass the case could you please repeat a) with a fresh set of tables. If you do not want to delete the original ones just modify the respective script and prefix the table names with "x_" for this

[2021-12-03 15:48] p1xel-dev commented on #1127
Hi @grimch, Thanks for the information.

I tested it again against BATCH_JOB_INSTANCE_X and a new SEQ and it also worked fine. Data stored correctly no issues shown on SQL Developer.

[2021-12-03 17:47] grimch commented on #1127
Hi @p1xel-dev
I am on holiday for a week but when I am back I will reach out to you directly to discuss next steps.
My idea is to replicate the issue on your environment with some minimalistic spring  batch application where we keep as  many  of  the default settings as possible.

[2021-12-03 18:42] p1xel-dev commented on #1127
Absolutely. Thank you very much.

Just in case, I haven't stated that this issue happens very rarely. Perhaps between 1 and 3 times a day, on a job that runs every 15 mins.

[2021-12-03 19:09] grimch commented on #1127
One more thing for the moment - also  of interest  for the bigger audience.
The issue  you are facing serms to be different from  the problem, which  I addressed with my iniitial post:
That one was  about ORA-08177 coming up on newly created database schemes.
Yours seems  to be different but I am eager to find the root cause never the less  :-)

[2021-12-06 23:23] Sam-Kruglov opened #4031 "Step name is null in logs"
https://github.com/spring-projects/spring-batch/blob/e8e3f5da085c6fedad54094b5d410b06f57f1594/spring-batch-core/src/main/java/org/springframework/batch/core/step/AbstractStep.java#L237

I have my step defined as `@JobScope`, so it's wrapped in a proxy. During debugging, `this.name` returns `null` but `this.getName()` return the name. So, this log defined above prints `"Encountered an error executi

[2021-12-07 09:41] benas opened #4032 "Add setter with a strongly typed parameter for the transaction isolation level"
The `JobRepositoryFactoryBean` should provide a setter for the transaction isolation level with a strongly typed parameter like `org.springframework.transaction.annotation.Isolation`.

Related to https://github.com/spring-projects/spring-boot/issues/28802.

[2021-12-08 10:32] #4032 closed

[2021-12-08 15:03] murdos opened #4033 "Remove JUnit4 dependency from spring-batch-test"
**Expected Behavior**

spring-batch-test should not have dependency to JUnit4, or should have an optional dependency to JUnit4.

**Current Behavior**

spring-batch-test has a compile dependency to JUnit4.

**Context**

In a project using only JUnit5, JUnit4 is in the test classpath when using spring-batch-test.

[2021-12-09 17:59] wilkinsona commented on #4032
I see you've removed the backport label, @benas. Sorry, I'm not familiar with your process here. Does that mean the change has now been backported or that you have changed your mind and it's now going to be a 5.0-only change?

[2021-12-10 14:09] benas commented on #4032
@wilkinsona The change seems incompatible with 4.3.x, so it's in 5.0 only for now.

[2021-12-11 17:44] Sam-Kruglov opened #4036 "Map.of() cannot be deserialized"
I want to use `Map.of()` in my execution context (primarily for tests). But this gives an error:
[code]
Output:
[code]

The problem is that the typing inside `Jackson2ExecutionContextStringSerializer` is configured to `ObjectMapper.DefaultTyping.NON_FINAL` which skips the addition of `@class` property to the root object for some reason, even though `ImmutableCollections$Map1` is `final`. So, as yo

[2021-12-11 17:58] Sam-Kruglov commented on #4036
Also, the `Jackson2ExecutionContextStringSerializer#objectMapper` should really be somehow accessible so that I can add my modules or some other settings easily without having to provide my own instance.

I think it would be better if `Jackson2ExecutionContextStringSerializer` constructor contained the call to `findAndRegisterModules()`.

[2021-12-13 15:36] grimch commented on #1127
Here are some considerations about the situation described by p1xel-dev, which is "ORA-08177: can't serialize access for this transaction" occuring during the day to day spring processing and NOT in initial set-up.

One aspect of this is that the error shows up even if the transaction level has been set to "TRANSACTION_READ_COMMITTED" in the configuration file.
This is the case if  for example you

[2021-12-13 19:15] xenogew commented on #3748
I tried with
- `.noRollback()`
- `.skip()`
- `.skip().noRollback()`
On the same Exception class, and I have custom `ItemWriter` that writing the file each line of item that was read from `ItemReader`, but behavior still run it twice that why when ever the Exception was thrown, the line of item that have been written is doubled.

Could anyone give me a hint?

[2021-12-13 21:14] #3894 closed

[2021-12-15 02:34] himadripant commented on #1208
Much thanks @deepak-kongath, this did work for me.

1. Using the same column name alias as that in column name in the select clause - `t1.table1_column1 as 't1.table1_column1'`
2. Enclosing the column name alias in single quote (`'`) in the select clause - `t1.table1_column1 as 't1.table1_column1'`
3. Used the column name alias as the sort key - `setSortKey("t1.table1_column1")`

Here's what I did

[2021-12-15 02:40] himadripant commented on #759
Hi @carikk - the answer by @deepak-kongath worked for me, I've documented it here - [#1208](https://github.com/spring-projects/spring-batch/issues/1208#issuecomment-994234546).

[2021-12-15 06:44] pennantdigital commented on #3858
Hi Mahmoud,

We are searching for XML configuration sample Spring remote partitioning but unfortunately couldn't find the same.

Can you please kindly share the same.

[2021-12-15 21:35] p1xel-dev commented on #1127
@grimch Thank you very much for the insights, we have been monitoring the jobs for the last couple of days and I can confirm that overriding the createJobRepository() method and passing the isolation level has fixed the issue we were facing.

[2021-12-16 13:23] benas commented on #4016
This is similar to #3834, where I mentioned that the suggested replacement can be found in the Javadocs. There is also a first draft of a [migration guide](https://github.com/spring-projects/spring-batch/wiki/Spring-Batch-5.0-Migration-Guide#job-repositoryexplorer-configuration-updates) for v5.

But since this is a recurring request, I think the reference documentation should also be updated with

[2021-12-20 01:41] carlosxl opened #4037 "Possible inaccurate documentation in "4.6.6 Abort a job" section"
Towards the end of this [document](https://github.com/spring-projects/spring-batch/blob/753a538a6979ab57c321c5bb6f5a5958b9130f5d/spring-batch-docs/src/main/asciidoc/job.adoc): it reads

where from the previous description, "only if it restartable" seems to make more sense.

[2021-12-20 11:12] git9999999 opened #4038 "Wrong Steps are Executed when a Jobs are submitted short after each other"
**Environment**
Spring Boot Starter 2.6.0
Java 11

**Bug description**
When submitting two different jobs in a very short time, two jobs get executed, but one with the wrong steps.

**Steps to reproduce**
I wish i could.

Hi

I do write a JobOrder (Own Class, not SpringBatch) to the Database in one application and Poll in another Application. If I find a JobOrder a Spring Batch Job is submitted. N

[2021-12-23 11:00] thouet-sigma commented on #1826
Hello,
We faced this issue since a long time. I implemented your PR and released a version (based on 3.0.10) about 3 years ago at my work.
Since, we don't get anymore this issue :)

Could you consider to release this "soon" ? That would allow us to migrate from 3.0.10 to 4.X

[2021-12-23 11:28] benas commented on #4036
Thank you for raising this issue about Jackson. The main branch (v5) is already on Jackson 2.13. So the fix will be in Spring Batch 5.0-M1.

v4.3.x uses Jackson 2.11. We typically only upgrade dependencies to their latest patch versions in a patch release of Spring Batch, so upgrading Jackson to 2.13 in v4.3.x is risky. But you can always override the dependency and use any compatible version of J

[2021-12-24 11:31] umutcann opened #4040 "java.lang.IllegalArgumentException: Unable to deserialize the execution context"
Hi,

We were using Spring Batch 4.1.2.RELEASE and spring-boot 2.1.6.RELEASE.

Then we upgrade to Spring Batch 4.3.4 and spring boot 2.5.7 and we got errors like below.

Do you have any advice to fix that?

	at org.springframework.boot.SpringApplication.callRunner(SpringApplication.java:796)
	at org.springframework.boot.SpringApplication.callRunners(SpringApplication.java:783)
	at org.springframewo

[2021-12-30 14:12] javaHelper opened #4041 "Add Inbuilt reader to read response of REST API?"
I feel Spring Batch should provide in-built reader to read the REST API response - pagination if record count is huge and without pagination if record count is less. Spring Batch has many types of Item Readers and ItemWriters, so can we consider this as feature request?

[2021-12-30 15:50] MinJunKweon commented on #3957
Hello, @benas. I have an idea about `RedisRepositoryItemReader` / `RedisRepositoryItemWriter`. They are based on [RedisRepository](https://docs.spring.io/spring-data/redis/docs/2.5.2/reference/html/#redis.repositories). So ItemReader can read data that saved by RedisRepository. And ItemWriter can write data through RedisRepository. I would like to open a PR for this. Is there anything I should kno

[2021-12-30 21:21] mabrod opened #4042 "job_configuration_location column is not defined in batch_job_execution table in all database migration scripts"
**Bug description**
Missing column job_configuration_location prevents insert into batch_job_execution table when running a batch job with one of the databases as job repository.

**Environment**
All database scripts on the main branch including schema-postgresql.sql which I use for my job repository when running batch jobs do not have job_configuration_location column defined in batch_job_executi

[2022-01-06 12:45] #4038 closed

[2022-01-06 17:08] Alex4i opened #4044 "StaxEventItemWriter.unclosedHeaderCallbackElements prevents new job execution"
While upgrading to spring-batch 4.3.4, my job started to fail with the exception :
`The class with javax.xml.namespace.QName and name of javax.xml.namespace.QName is not trusted.`

After investigating, it turns out that `StaxEventItemWriter` (with saveState=true) writes unclosed elements from the header callback to the step context as `QNames`. On the next job execution, it will first try to read

[2022-01-10 13:07] sergeykad opened #4045 "Spring Batch fails to get "nextval" from H2 v2.x"
**Bug description**
Launching step fails with the following error:
[code]

**Environment**
Spring Batch 4.3.3
Java 15
H2 2.0.206

**Steps to reproduce**
Run Spring Batch with H2 v2.x database

**Expected behavior**
Spring Batch works normally with H2 versions without RCE flaw (https://jfrog.com/blog/the-jndi-strikes-back-unauthenticated-rce-in-h2-database-console/)

**Minimal Complete Reproducible

[2022-01-11 23:30] #3993 closed

[2022-01-12 13:24] benas opened #4046 "4.3.5 Backported issues"
* Adjust h2 schema to work with v2.0.x #4043
* Adjust H2PagingQueryProvider to work with v2.x #4047
* Simplify GET_LAST_STEP_EXECUTION #3997
* Make countStepExecutions access batch_job_execution only once #3876
* Add @Nullable to StepExecution::endTime #4034
* Document default types of beans registered by EnableBatchProcessing annotation #3993
* Fix Javadoc of FaultTolerantChunkProvider #4029
* Fi

[2022-01-18 13:56] benas opened #4048 "Require spring-jdbc in core module"
As of v4, `spring-jdbc` was optional since Spring Batch provided a Map-based job repository.

In v5, the Map-based job repository implementation has been removed. The only option left is the Jdbc-based implementation which is used by default and requires `spring-jdbc`.

[2022-01-18 14:33] #4048 closed

[2022-01-19 14:32] benas commented on #4036
Closing this as 5.0.0-M1 has been released and which depends on Jackson 2.13.1.

[2022-01-19 14:32] #4036 closed

[2022-01-24 09:44] henry2man commented on #1345
Hi folks. I've reached this old bug and I think this should be well documented in the `JpaPagingItemReader` class javadoc, isn't it? This change is far from obvious when using this class, and some help in the documentation would not hurt.

[2022-01-24 14:43] lcmarvin opened #4049 "Best to distinguish CreateTime and StartTime in StepExecution"
I need to record create time of StepExecution, but I found it only has a filed `startTime`, though this field has been assigned value when StepExecution is created.
[code]
But its value will be updated when StepExecution gets started in AbstractStep.
[code]

So, maybe an individual `createTime` field is more suitable, just like what it is in JobExecution.
[code]

[2022-01-26 09:23] lcmarvin commented on #4049
This requires following changes:
1. Schema updates, table `bath_step_execution` needs a new column `create_time`.
2. Class `StepExecution `needs a new filed `createTime`.
3. SQL in `org.springframework.batch.core.repository.dao.JdbcStepExecutionDao#SAVE_STEP_EXECUTION`, `org.springframework.batch.core.repository.dao.JdbcStepExecutionDao#GET_RAW_STEP_EXECUTIONS`, and `org.springframework.batch.core

[2022-01-26 23:05] cppwfs commented on #4042
Can you share the version of Batch you are using?   The column is present in the postgresql schema for the 4.3.4 release of Spring Batch .
https://github.com/spring-projects/spring-batch/blob/4.3.4/spring-batch-core/src/main/resources/org/springframework/batch/core/schema-postgresql.sql#L22

[2022-01-26 23:08] cppwfs commented on #4040
Is this a fresh execution of a batch application, or are you restarting a failed batch execution?

[2022-01-28 06:14] wanqiuz commented on #4045
I met similar issue, solved by [https://github.com/spring-projects/spring-boot/issues/29034](https://github.com/spring-projects/spring-boot/issues/29034)

[2022-01-28 12:56] marschall opened #4050 "Reintroduce in-memory repositories"
**Expected Behavior**

It should be possible to run Spring Batch integration tests without having to set up a database or if one is present without the tests committing to the database.

**Current Behavior**

The map based repositories were deprecated in v4 and removed in v5. However even they had the issue that they would commit to the database due to a transactional advice. This necessitates thi

[2022-01-30 15:00] sbrannen commented on #4045
This particular bug was fixed in Spring Framework 5.3.15.

- https://github.com/spring-projects/spring-framework/pull/27870

[2022-01-31 15:05] hpoettker commented on #4040
Most likely the same problem as in #3732 and #3785.

[2022-01-31 16:12] umutcann commented on #4040
@cppwfs That was freshed execution.

[2022-01-31 18:45] cppwfs commented on #4030
Can you provide a small sample that reproduces this issue?

[2022-01-31 19:23] #4040 closed

[2022-02-01 19:20] cppwfs commented on #4041
Certainly.   We welcome all contributions from the community.

[2022-02-02 00:05] cppwfs commented on #4031
I tried to reproduce this problem but was unable to do so.   Can you provide a small sample that shows this behavior?   Thanks!

[2022-02-02 15:23] tr325 opened #4051 "Jobs fail when setting datasource auto-commit: false"
**Bug description**

Setting `spring.datasource.auto-commit: false` and `jpa.properties.hibernate.provider_disables_autocommit: true` results in the exception:

[code]

during batch job execution. This occurs when attempting to run any job during execution (the job starts correctly).

**Context**

We are attempting to configure our application to use multiple datasources as outlined in https://vla

[2022-02-02 19:24] cppwfs commented on #4051
Hello @tr325
Are you using the same data source for both reader, writer, and batch implementation?

[2022-02-02 20:48] tr325 commented on #4051
Hi @cppwfs, thanks for the fast response!

The writer and batch implementation are using the same datasource, the reader is separate.

In this environment both datasources are pointing at the same underlying database, but connecting via separate postgres users. The user for the reader connection has no write access at the db level. In production they will point to separate instances.

[2022-02-03 00:08] mabrod commented on #4042
At that point I had used spring boot 2.6.2 which pulled in spring batch core 4.3.4 version and you are right that version contains JOB_CONFIGURATION_LOCATION column. Everything is fine when I use postgres scripts to create batch tables from this spring batch version.
I have used postgres schema scripts from main branch
https://github.com/spring-projects/spring-batch/tree/main/spring-batch-core/src

[2022-02-03 01:33] cppwfs commented on #4042
Glad you have everything working.  I'll close this issue.   If you think it was closed in error feel free to reopen it.

[2022-02-03 01:33] #4042 closed

[2022-02-03 10:43] xamino commented on #4051
I would like to add that we can reproduce the issue on the one "default" data source, so the multiple datasources are not necessarily required for this, they just highlight why we hit this issue. Any help much appreciated, maybe we missed configuring something easy?

[2022-02-06 17:07] ryanlevell opened #4053 ""spring.batch.job.names" Does Not Run Jobs In Order Specified"
**Bug description**
The property `spring.batch.job.names` does not run the jobs in the order of the jobs listed.

I expected the comma-separated values would maintained order, but they do not. The documentation does not state whether the property should maintain order or not.
https://docs.spring.io/spring-boot/docs/current/reference/html/howto.html#howto.batch.running-jobs-on-startup

The property

[2022-02-06 20:02] danilopiazza commented on #4033
Hi, I opened pull request #4054 to address this issue.

[2022-02-07 08:10] danilopiazza commented on #2244
Hi, I opened PR #4055 to address this issue.

[2022-02-08 07:58] lcmarvin commented on #4049
#4057

[2022-02-09 13:09] javaHelper opened #4058 "Add support for Azure CosmosDB ItemReader and ItemWriter in Spring Batch?"
Add support for Azure CosmosDB ItemReader and ItemWriter in Spring Batch?

[2022-02-09 13:10] javaHelper opened #4059 "Add support for Azure Databricks ItemReader and ItemWriter in Spring Batch?"

[2022-02-10 00:16] anumalasri commented on #4030
Give me a few days as I try to reproduce with minimal code..  Thanks

[2022-02-11 23:18] hpoettker opened #4061 "Allow Lambdas to be passed as Processors in Java DSL"
**Status quo in Spring Batch 4.x**

In Spring Batch 4.x, it is not possible to pass a lambda or method reference to `SimpleStepBuilder::processor`.

The method is overloaded to accept either an `ItemProcessor` or a `Function`, which both qualify as functional interfaces. This makes passing a lambda ambivalent if it is not explicitly cast to one of the two. In my opinion, the casts that need to be

[2022-02-13 09:07] lcmarvin opened #4064 "JobOperator#stop can not stop JobExecution correctly in some cases"
**Bug description**
`JobOperator#stop` can not stop JobExecution correctly in the case that the stop command is executed after step finish but before job finish. JobExecute will ends up with status `STOPPING` instead of `STOPPED`.

Since `STOPPING` is a running state, so I think this stop command does not stop JobExecution **correctly**.

**Steps to reproduce**
1. Build a tasklet or chunk step wit

[2022-02-15 02:49] lcmarvin commented on #4064
#4067

[2022-02-15 11:36] arun406 commented on #3846
is there any update on this bug. I am also facing same issue.

[2022-02-19 20:02] vrajkuma-vector opened #4069 "Spring Batch is very slow when using two datasources (one for batch/task and another for the app)"
**Bug description**
Spring batch configured with two datasources (one for batch/task and another for the app) is 90 times slower than using one datasource for both (boot configured or custom). Following the spring recommended approach for two datasources ([here](https://docs.spring.io/spring-boot/docs/2.1.x/reference/html/howto-data-access.html) and [here](https://github.com/spring-cloud/spring-cl

[2022-02-21 14:59] xamino commented on #4051
@cppwfs Could we answer your question? :-)

[2022-02-21 15:55] aritzbastida opened #4070 "JobRepositoryTestUtils (from @SpringBatchTest) using incorrect datasource"
The utility class `JobRepositoryTestUtils` (injected via `@SpringBatchTest` annotation), uses an incorrect datasource when there is more than one available in the application context, and the one defined as `@Primary` is not referring to the Spring Batch schema.

Sure, this is already documented in the Javadoc for `@SpringBatchTes`t annotation, but it happens to be a limitation in the infrastructu

[2022-02-22 13:26] #4021 closed

[2022-02-23 12:49] benas commented on #4016
Resolved with 9deaa16.

[2022-02-23 12:49] #4016 closed

[2022-02-23 16:19] #4046 closed

[2022-02-25 13:36] benas commented on #4017
While reviewing this PR, I noticed that these optimizations have been already applied in previous PRs: #3997 and #3876.
Those are available in 5.0.0-M1 and 4.3.5. Thank you for your contribution anyway!

[2022-02-25 13:36] #4017 closed

[2022-03-02 02:16] uli-f commented on #4053
@ryanlevell Thank you for your detailed analysis, I experience the same problem.

There is a workaround, but it feels like we are hacking the framework: https://stackoverflow.com/a/52407429

I'd really appreciate it if the jobs would be executed in the order they are specified in the property `spring.batch.job.names`.

[2022-03-02 06:08] hillebrandt commented on #3936
Hi @benas
are there any plans when this issue will be worked on further? We are also affected by this issue in a project and get "scopedTarget.scopedTarget.[...]" beans and resulting exceptions on lookup. If I apply the change from the PR, everything apparently works again in the application.
It is not clear to me what the original purpose of the modified bean names "stepScopedTarget.[...] (or job

[2022-03-02 23:04] rod2j opened #4071 "[doc] Wrong size for BATCH_JOB_INSTANCE.JOB_KEY in Appendix A"
It looks like the documented schema for table BATCH_JOB_INSTANCE in Appendix A - Meta-Data Schema doesn't match the actual schema for this table:

- Actual size of the JOB_KEY column is 32 (cf. [actual schema](https://github.com/spring-projects/spring-batch/blob/main/spring-batch-core/src/main/resources/org/springframework/batch/core/schema-postgresql.sql)) but is documented as 2500

[2022-03-03 18:48] lifeweaver opened #4073 "Switching incrementers causes jobs to have old job parameters"
**Bug description**
Switching the incrementer for a job causes new instances of that job to keep the old incrementer's parameters around, causing errors if you have a job parameters validator.

Actual error: "JobParametersInvalidException: The JobParameters contains keys that are not explicitly optional or required: [run.id]"

**Environment**
Spring boot 2.6.4
Spring batch 4.3.5
Java 1.8.0_312
H2

[2022-03-04 11:45] test512 opened #4074 "Add Support for Azure Datalake ItemReader and ItemWriter into Spring Batch?"

[2022-03-04 14:17] benas commented on #4071
Thank you for raising this issue and for opening a PR! Indeed there is a mismatch between the size in the actual schema and the docs. I will plan the fix for the next release.

[2022-03-04 14:19] benas opened #4075 "4.3.6 Backported issues"
* [doc] Wrong size for BATCH_JOB_INSTANCE.JOB_KEY in Appendix A #4071
* Update copyright date #4084
* Fix Javadoc of SpringBatchTest annotation #4102
* NPE when creating MongoItemReader using a builder without specifying sorting #4082
* Incorrect documentation in "4.6.6 Abort a job" section #4037
* Add java.util.UUID to the trusted classes list in Jackson2ExecutionContextStringSerializer #4110
* S

[2022-03-08 11:08] #4071 closed

[2022-03-08 12:22] javaHelper opened #4076 "Add support for Azure Blob Storage ItemReader and ItemWriter into Spring batch"
Add support for Azure Blob Storage ItemReader and ItemWriter into Spring batch

[2022-03-08 12:31] #4076 closed

[2022-03-10 22:55] ConnerBabbOCTanner commented on #4070
https://stackoverflow.com/questions/37436658/spring-batch-table-prefix-when-using-java-config

[2022-03-10 22:59] ConnerBabbOCTanner commented on #4070
extending DefaultBatchConfigurer with your configuration and overriding DefaultBatchConfigurer() should allow you to set a datasource explicitly when using SpringBatchTest and SpringBootTest combined.

[2022-03-11 08:30] aritzbastida commented on #4070
Not exactly. The problem is not with JobRepository, which can be configured as you said; but with JdbcTemplate, which is injected with the "primary" datasource, _not necessarily the same one_ used by JobRepository. The instance of JdbcTemplate is used for explicit removal of job executions (DELETE statements), since JobRepository interface offers no methods to do that.

`public JobRepositoryTestUt

[2022-03-11 19:34] ConnerBabbOCTanner commented on #4070
In order to DELETE job executions try something like this:

@Autowire
@Qualifier("batchDataSource")
Datasource batchDataSource

@BeforeEach
public void cleanUp() throws SQLException {
   batchDataSource.getConnection().prepareCall(" ***SQL HERE*** ").execute();
}

There should be a way to set the datasource with the application.yml or application.properties file. Adding the datasource to the appli

[2022-03-11 22:46] aritzbastida commented on #4070
IMHO, executing my own SQL statements defeats the whole purpose of using JobRepositoryTestUtils altogether.

All I'm saying is that JobRepositoryTestUtils.removeJobExecutions() always uses the primary datasource. Moreover, the remaining methods (such as createJobExecutions()) don't necessarily access the _same_ datasource, depending on how JobRepository is configured. This could lead to _unintende

[2022-03-14 00:00] Sam-Kruglov commented on #4036
Hi, wanted to point out a few other things:

1. I mentioned in the issue that it needs all 3 components to work: 1) jackson 2.13 2) enabling `java.util.ImmutableCollections$*` 3) using `USE_BASE_TYPE_AS_DEFAULT_IMPL ` or `DefaultTyping.EVERYTHING`. It seems only the first component has been resolved, could you take a look at the other 2?
2. I disagree with "security issues", I'm already using `Obj

[2022-03-14 10:43] tr325 commented on #4051
Hi - just to say this was an issue at our end, apologies for the erroneous bug report!

For anyone interested, the issue was that we had implemented a configuration class for Batch configuration, to ensure our transaction manager was compatible with Hibernate (the default is not). This looked like this:

[code]

This custom transaction manager we were providing relied on default values for the dat

[2022-03-14 10:43] #4051 closed

[2022-03-18 15:54] dbarciela commented on #1097
I created a BOM for spring-batch https://github.com/spring-projects/spring-batch/pull/4078

[2022-03-18 17:30] benas commented on #1087
Resolved with #595 .

[2022-03-18 17:30] #1087 closed

[2022-03-21 21:43] hpoettker commented on #4061
The milestone release 5.0.0-M2 is due shortly and, up to now, this issue has not sparked the interest that I expected.

Is the proposal too aggressive? An alternative is to now declare the possibility to use a `Function` in the DSL as deprecated for removal in release 5.1, and remove it then.

In my opinion, this issue should really not be deferred to Spring Batch 6. Assuming that the release cade

[2022-03-22 10:49] javaHelper commented on #4074
@benas - Is this plan in the next milestone? When can we expect it to be available? Actually looking same for the Azure DataBricks and CosmosDB.

[2022-03-22 11:47] javaHelper commented on #1014
@benas - When Spring Batch 5.0.0 will be ready?

[2022-03-22 15:43] mhalbritter opened #4079 "Update to Micrometer 2.0.0-SNAPSHOT"
Hi, I'm currently working on integrating Micrometer 2.0.0 into Spring Boot. While building Spring Boot (my branch builds against Micrometer 2.0.0-SNAPSHOT), I noticed that Spring Batch builds against Micrometer 2.0.0-M3. In Micrometer 2.0.0-SNAPSHOT, the new `micrometer-observation` module has been introduced and the `Observation` class and dependents were moved from `micrometer-core` to `micromet

[2022-03-22 16:33] #1057 closed

[2022-03-23 01:13] owen6846 opened #4080 "Spring Batch JdbcBatchItemWriter afterPropertiesSet always call twice"
Spring Batch JdbcBatchItemWriter afterPropertiesSet always call twice.

` @Autowired
TestWriter write;
  public Step startStep(StepBuilderFactory stepBuilders) {
          return stepBuilders.get("step")
                  .listener(new StepResultListener())
                  .<Map, Map>chunk(chunkSize)
                  .reader(....)
                  .processor(....)
                  .writer(wri

[2022-03-23 08:14] mhalbritter commented on #4079
Here's the PR: https://github.com/spring-projects/spring-batch/pull/4081

[2022-03-24 09:44] benas commented on #4080
This question has been answered on SO: https://stackoverflow.com/questions/71567176/spring-batch-jdbcbatchitemwriter-afterpropertiesset-repeat-trigger-twice. If you need further support, please add a comment on SO. Thank you.

[2022-03-24 09:44] #4080 closed

[2022-03-24 09:49] benas commented on #4053
Thank you for opening this issue. However, this is a Spring Boot property and we have no control over it in Spring Batch. Please open this issue against Spring Boot for more details about the expected behaviour or if you want to request a feature. Thank you upfront.

[2022-03-24 09:49] #4053 closed

[2022-03-24 11:42] benas commented on #4041
This has been discussed in #896 . Please check Michael's comments about the rationale of why we did not include such a reader in the core framework.

[2022-03-24 11:42] #4041 closed

[2022-03-24 11:46] bodnarIQ opened #4082 "NPE when creating MongoItemReader using a builder without specifying sorting"
**Bug description**
When creating an instance of `MongoItemReader` using `MongoItemReaderBuilder` and no sorting is set, using the ItemReader results in NPE

**Environment**
Using dependency `spring-boot-starter-batch`, version `2.4.5`

**Steps to reproduce**
[code]

**Expected behavior**
When no sorting is provided, either default sorting should be used, or it should be validated, that sorting is

[2022-03-24 14:01] benas commented on #4074
The is no plan to implement such a reader as Azure Datalake is not covered by [VMware Spring Runtime](https://spring.io/support). That said, you are welcome to contribute such a reader in the [spring-batch-extensions](https://github.com/spring-projects/spring-batch-extensions) repository.

[2022-03-24 14:01] #4074 closed

[2022-03-24 14:03] benas commented on #4058
Closing this for the same reason explained in https://github.com/spring-projects/spring-batch/issues/4074.

[2022-03-24 14:03] #4058 closed

[2022-03-28 21:09] madorb commented on #1124
This is an issue for me as well.

[2022-03-28 21:14] madorb commented on #1208
This workaround doesn't seem to work if you're doing either of the below

a) You have to actually change the column name in the alias i.e. `t1.table1_column1 as something_else`
b) You are using the `DataclassRowMapper`

[2022-03-29 21:05] hpoettker commented on #4061
Still trying to summon support for this one! 😄

At least two past issues support my case: #3749 and #3880.

Both problem descriptions contain a cast lambda being passed to `processor()`, and the underlying bug could only exist because the lambda takes different code paths depending on whether it is cast to an `ItemProcessor` or a `Function` although there is no intended difference in functionality

[2022-03-29 21:32] darkmastermindz opened #4085 "Backport request to incorporate SQL Server Deadlock fix #1448 in spring-batch 4.3.x / spring-boot-starter-batch 2.6.x"
See: #1448 and ref: @benas in #3927

**Context**

How has this issue affected you?
Unable to use spring batch for enterprise project for compatibility reasons as organization currently supports up to JDK11 and stable versions in compatibility.

What are you trying to accomplish?
Incorporate fix with spring batch that runs on JDK11 or lower / GA version as a minor bug fix.

What other alternatives

[2022-04-01 14:39] #4033 closed

[2022-04-03 07:35] cnlin opened #4087 "ResultSet.getLong(), ResultSet.getDouble() return primitive value make restart job work incorrect."
**Bug description**
In SpringBatch 1.x~4.x , JobParameter supports null value , so save in database will be null. While `java.sql.ResultSet#getLong`  or `java.sql.ResultSet#getDouble` return primitive type, a round trip from database will finally get 0 or 0.0. It work uncorrectly in `jobOperator.restart`.
That may cause:
1. `jobOperator.restart` will create new JobInstance, not act like restart.
2

[2022-04-03 13:29] AjinkyaM commented on #1124
I was facing same issue using `JdbcPagingItemReader `with sql having column name alias

resolve it by nesting  query in a table expression in the from (i.e. select * from (<actual select>), so that I have unambiguous column names.

Before

[code]

After

[code]

[2022-04-03 13:36] AjinkyaM commented on #1741
I was facing same issue using `JdbcPagingItemReader `with sql having column name alias

resolve it by nesting  query in a table expression in the from (i.e. select * from (<actual select>), so that I have unambiguous column names.

Before

[code]

After

[code]

[2022-04-05 12:43] benas commented on #4087
That's a valid issue against v4, thank you for raising it. This is exactly the type of issues behind the decision of not accepting `null` job parameters anymore in v5. The fix will be merged in v4.3.6.

[2022-04-05 23:09] sr9112 opened #4091 "java.lang.NoSuchFieldError: BLOCK_UNSAFE_POLYMORPHIC_BASE_TYPES on deploying application migrated from spring boot version 2.2.x to 2.6.6"
Afte upgrading spring job apps to use spring boot library v2.6.6 with spring batch v4.3.5,below error is seen while deploying the application on the server with JDK8.

_Caused by: java.lang.NoSuchFieldError: BLOCK_UNSAFE_POLYMORPHIC_BASE_TYPES
    at org.springframework.batch.core.repository.dao.Jackson2ExecutionContextStringSerializer.<init>(Jackson2ExecutionContextStringSerializer.java:119)

[2022-04-06 08:41] benas commented on #4091
From which version are you upgrading? What is the `jackson-databind` version you have in your classpath?

[2022-04-06 09:07] benas commented on #4085
Thank you for this request. However, the fix in #1448 is a breaking change and we cannot backport it in a patch release of the v4 line.

What you can do is create the sequences and register the new incrementer (which is based on sequences) through the job repository factory bean, something like:

[code]

This should work in a similar way to what is described here: https://github.com/spring-project

[2022-04-06 09:07] #4085 closed

[2022-04-06 10:26] sr9112 commented on #4091
Migrtaing from 2.2.5 to 2.6.6. The jackson-bind library version seen in the build is v2.13.2.2 when upgrading to spring boot v2.6.6. Also, tried upgrading to spring boot v2.5.12 which has  jackson-bind library version 2.12.6.1.

In both the cases same error is seen. Error is seen when jobRepository is being initialized during job autoconfiguration.

[2022-04-07 09:21] benas commented on #4091
Thank you for your feedback. You seem to have a (manual) dependency management issue. With boot 2.2.5, you get batch 4.2.1 and jackson 2.10.2. In this case the [execution context serializer](https://github.com/spring-projects/spring-batch/blob/4.2.x/spring-batch-core/src/main/java/org/springframework/batch/core/repository/dao/Jackson2ExecutionContextStringSerializer.java) does not use  `BLOCK_UNSA

[2022-04-07 09:21] #4091 closed

[2022-04-07 09:35] benas commented on #3709
Yes, this seems to be a great performance improvement for DB2! We can consider introducing the change in one of the minor releases of v5 (we are currently focusing on other issues planned for 5.0). Pull requests are welcome!

[2022-04-07 11:15] benas commented on #4036
Spring Batch provides a setter of the object mapper in order to use your custom one. I'm not sure I understand why you need reflection to set it on the serializer. The following should cover the 3 points you mentioned:

[code]

[2022-04-11 10:51] benas commented on #1055
@parikshitdutta Thank you for your feedback. I came to the same conclusions. The impact of this change is huge. Moreover, in order to implement this correctly (ie without data loss during type conversion), this would require a change in `RowMapper#mapRow` from SF and `java.sql.ResultSet#absolute` / `java.sql.Statement#setMaxRows` from Java.

The `ResultSet` API is designed with the `int` type for

[2022-04-11 10:51] #1055 closed

[2022-04-11 14:31] acktsap opened #4092 "Concurrent execution of FlowJob may cause FlowExecutionException"
**Bug description**

When flow is made by `FlowBuilder`, transition is not initialized. It may cause `FlowExecutionException` when multiple thread runs the same job object with different jobExecutions.

[code]

**Environment**

v4.3.5, jdk17

**Steps to reproduce**

I've made some test code to reproduce it. You can reproduce it by running a following code within [FlowJobBuilderTests](https://githu

[2022-04-13 10:48] fmbenhassine opened #4095 "Intermittent failure in org.springframework.batch.repeat.jms.AsynchronousTests#testRollback"
This test fails intermittently with the following error:

[code]

Build log: https://build.spring.io/browse/BATCH-NIGHTLY-5541

[2022-04-14 14:42] benas commented on #4001
Resolved in 758372b025ddcad877b693b9193cd81a368b8ddd.

[2022-04-14 14:42] #4001 closed

[2022-04-15 07:52] MinJunKweon opened #4097 "MongoItemReader.setSort() doesn't works without json query string"
**Bug description**
When using MongoItemReader with `setQuery(Query)`, `setSort(Map<String, Sort.Direction>)`, `Sort` doesn't works.
If you wanna use `setSort()` method, you should use `setQuery(String)` method. (If you use `MongoItemReaderBuilder`, it might be `jsonQuery()`)

**Environment**
Spring Batch 4.3.5

**Steps to reproduce**
[code]

**Expected behavior**
I think it should work too. But I

[2022-04-16 12:44] lcmarvin commented on #4049
Could you please link another pull request #4099 to this issue? Since a wrong rebase was done by mistake in #4057, so I close it.

Sorry for that, Thanks！

[2022-04-21 08:04] jdomigon opened #4101 "Allow StaxEventItemReader to auto-detect the input file encoding"
**Bug description**
StaxEventItemReader uses platform default encoding to read XML files.

**Environment**
Spring-batch version 4.3.0. Related to #807

**Steps to reproduce**
Just try to parse an XML file with a declared encoding different to the platform encoding.

**Expected behavior**
Encoding field in StaxEventItemReader should default to null, so that the parser has the opportunity to autodet

[2022-04-22 14:24] lcmarvin commented on #4082
Hi @benas, I'm interested in this issue, I'd like to try to fix this.

[2022-04-23 02:45] karan-s9 commented on #4085
FYI in case it helps anyone.  In addition to what @benas mentioned above, you also need to override JobLauncher and set the job repository to the overridden bean that uses SqlServerSequenceMaxValueIncrementer. If you only override JobRepository, spring-batch will assume BATCH_JOB_SEQ and BATCH_JOB_EXECUTION_SEQ are still tables instead of sequences.

[2022-04-25 15:16] grey-scaven opened #4104 "Batch job fails when using specific schema in PostgreSQL"
**Bug description**
A problem occurs when defining and using meta tables in a specific schema of PostgreSQL.
I used SQL for metatables included in spring batch core. (ex. org/springframework/batch/core/schema-postgresql.sql)

**Environment**
Spring Batch 4.3.5
Java 11
PostgreSQL 12 and metatables on specific schema

**Steps to reproduce**
1. Create spring batch metatables on specific schema (ex.

[2022-04-27 01:13] pangky24 opened #4106 "JPA save / delete Not Working"
**Bug description**

- When I use spring-batch with JPA
  * **_select_** is working.
  * but **_save_**, **_delete_** are not working.
  * Also JPA sql trace log is only select log is showing.
    * insert / delete log is not showing, **_even though NO exception message._**

**Environment**
- version
[code]
- Seperated spring-batch DB and business DB.
  * spring-batch Datasource
[code]
  * busines

[2022-04-27 13:03] #4049 closed

[2022-04-28 13:09] benas commented on #807
@jdomigon Thank you for your comment. I see your point. Since this issue is closed, please open another one with your case and we will try to find the best way to allow auto-detecting the encoding from the input file. Thank you upfront.

[2022-04-28 16:41] benas commented on #4087
Resolved with #4089 .

[2022-04-28 16:41] #4087 closed

[2022-04-29 08:30] fmbenhassine opened #4107 "Add FunctionalInterface annotation where appropriate"
Several interfaces (like `ItemReader`, `ItemProcessor`, etc) do qualify as functional interfaces. This issue is to add the `java.lang.FunctionalInterface` annotation where appropriate.

[2022-04-29 10:35] benas commented on #4061
I agree that the cast is verbose and that this issue should not be deferred to v6.

For consistency, we typically follow the same policy as Spring Boot for [deprecations](https://github.com/spring-projects/spring-boot/wiki/Deprecations). This means if we deprecate the overloaded method in v5.0, we would only remove it in v5.2, not in v5.1. It is always aggressive to remove a public API without dep

[2022-04-29 11:42] hpoettker commented on #4061
@benas Thanks! That's great news.

I've reverted the removal of the `FunctionItemProcessor` from the PR.

[2022-05-02 11:33] 00010001 commented on #793
I hit the same issue but found workaround https://stackoverflow.com/questions/72041358/spring-batch-repositoryitemreaderbuilder-with-repositorymethodreference-throws/72086071#72086071

[2022-05-04 05:13] shaunvip commented on #1237
Seems this this one is throwing a circular bean issue.

Caused by: org.springframework.beans.factory.BeanCurrentlyInCreationException: Error creating bean with name 'MYJOB': Requested bean is currently in creation: Is there an unresolvable circular reference?

@SpringBatchTest
@RunWith(SpringRunner.class)
@ContextConfiguration(classes= Application.class)
@SpringBootTest
@Slf4j
public class MyJobIT

[2022-05-04 09:23] fmbenhassine opened #4109 "Incorrect deployment descriptor of `spring-batch-docs` in Artifactory"
The snapshot/release documentation bundle does not seem to be published correctly to Artifactory (or at least deployed correctly in the docs server), even though the `build-helper-maven-plugin` is [used](https://github.com/spring-projects/spring-batch/blob/437f4797f849c74a96f7d1b6fa881aa3fb93ec65/spring-batch-docs/pom.xml#L175-L204) to attach Artifactory's meta-data to the artifact.

[2022-05-05 08:27] benas commented on #3810
Thank you for reporting this. The issue has been fixed in #3943.

[2022-05-05 08:27] #3810 closed

[2022-05-05 08:38] benas commented on #3983
Switching to UTF-8 should also fix issues like https://github.com/spring-projects/spring-batch/issues/764.

[2022-05-05 09:45] benas commented on #2292
It seems that the documentation has been updated since this issue was created. Here is an excerpt from the Javadoc of [JdbcCursorItemReader](https://docs.spring.io/spring-batch/docs/current/api/org/springframework/batch/item/database/JdbcCursorItemReader.html):

[code]

[2022-05-05 09:45] #2292 closed

[2022-05-05 13:58] #4082 closed

[2022-05-06 07:43] benas commented on #2122
Closing this issue, based on the last comment.

[2022-05-09 09:03] #756 closed, assigned to nobody

[2022-05-10 10:50] tombyong opened #4110 "Consider to add java.util.UUID as recognized class in Jackson2ExecutionContextStringSerializer"
https://github.com/spring-projects/spring-batch/blob/5bce15288a0bd06a0d69c02ec3eaf1d432baddaa/spring-batch-core/src/main/java/org/springframework/batch/core/repository/dao/Jackson2ExecutionContextStringSerializer.java#L259

Btw, it is quite painful to add the custom serializer into `JobRepositoryFactoryBean` and `JobExplorerFactoryBean`.
is there a better way just to make `Jackson2ExecutionContext

[2022-05-10 14:59] lcmarvin commented on #1483
I also encountered a problem related to this issue. That is, when launching multi jobs with same parameters in multi threads, there should be only one job can succeed, but actually, there would be more than one job can succeed. I created a test [here](https://github.com/lcmarvin/spring-batch/blob/BATCH-1483/spring-batch-core/src/test/java/org/springframework/batch/core/launch/SimpleJobLauncherInte

[2022-05-10 17:34] cppwfs opened #4111 "ClassNotFound Exception when using AssertFile"
When using `AssertFile.assertLineCount` with Spring Boot 3.0.0-SNAPSHOT a CNFE is thrown because org.junit.Assert package name has been changed to `org.junit.jupiter.api.Assertions`.

[2022-05-12 08:52] lcmarvin commented on #3788
This is related to #1483 , and can also be fixed by PR #4113

[2022-05-13 18:01] #3991 closed

[2022-05-13 22:17] #4061 closed

[2022-05-17 09:28] #4110 closed

[2022-05-17 09:32] benas commented on #4110
is there a better way just to make Jackson2ExecutionContextStringSerializeras a @Bean

This will be addressed in #3942 in which we have some options to simplify this. Please upvote the issue or add a comment if you have another suggestion. We are open to any improvement ideas.

[2022-05-17 13:34] #4044 closed

[2022-05-17 18:14] #3983 closed

[2022-05-17 18:19] benas commented on #764
The default encoding in `JdbcExecutionContextDao` has been changed to UTF-8 (see #3983), which should fix this issue. If not, please re-open it and provide a minimal complete example that reproduces the problem.

[2022-05-17 18:19] #764 closed

[2022-05-17 19:42] benas commented on #795
The default encoding in `JdbcExecutionContextDao` has been changed to UTF-8 (see #3983), which should fix this issue.

Moreover, the charset has been made configurable in `JdbcExecutionContextDao` (see 9315a3b438ae8c95f74f05ba369f21a5838e9b01).

[2022-05-17 19:42] #795 closed

[2022-05-17 19:52] PascoalBayonne commented on #3793
Is there any workaround? Any example would be very nice

[2022-05-17 20:32] benas commented on #3714
@jtremiel

In this case, you need explicitly set the encoding of the reader to UTF-8 , because the default as of v4 is set to the JVM's default encoding which could be different than UTF-8 (and I guess that's what happening in your case).

The default encoding has been changed to UTF-8 in `FlatFileItemReader` as of v5 (see df8dac19dfef13fd8247bcbde78e100c77b03721), which should fix this issue with

[2022-05-17 20:32] #3714 closed

[2022-05-17 22:10] daanvdh opened #4114 "Retry support for exceptions in transaction commit phase without re-executing reader"
**Expected Behavior**

By adding Throwables to a (not yet existing) configuration, the batch framework will catch and swallow these exceptions if they where fired during the commit phase of the transaction and add the ChunkContext including the attributeQueue so that this chunk can be retried without having to execute the reader.

**Current Behavior**

Currently there is no retry mechanism in plac

[2022-05-17 23:44] ajain72 commented on #3793
It has been a while; I don't remember all the details. I finally gave up on this because there were quite a few issues while using JSON.

[2022-05-18 04:22] benas commented on #3793
This is a Jackson issue, not a Spring Batch issue (similar to https://github.com/spring-projects/spring-batch/issues/1488#issuecomment-566278703). Other libraries are able to serialize/deserialize `ChunkResponse` objects, here is a quick example with `Gson`:

[code]

This prints the following output from `Gson`:

[code]

and fails for the same object with Jackson. I did not try other libraries, bu

[2022-05-18 04:22] #3793 closed

[2022-05-18 04:52] benas commented on #1488
I agree with Michael here: https://github.com/spring-projects/spring-batch/issues/1488#issuecomment-566278703, this is a Jackson issue and not a Spring Batch issue. Other libraries are able to handle object graphs with bi-directional relations **by default**, and Jackson 2 is not one of them (it requires some configuration to support this).

We cannot remove all bi-directional relations from the c

[2022-05-18 04:52] #1488 closed

[2022-05-18 05:10] benas commented on #1431
This is a Jackson issue. Other libraries are able to serialize/deserialize `JobInstance` instances by default even with the `getInstanceId()` getter. Here is a quick test with `Gson`:

[code]

Jackson does not support this by default, so as mentioned in https://github.com/spring-projects/spring-batch/issues/1431#issuecomment-566277858, it should be configured with a mixin (or other mechanism) to r

[2022-05-18 05:10] #1431 closed

[2022-05-18 08:14] #1097 closed

[2022-05-18 10:10] toutprix opened #4115 "ClassCastException when using Slice<T> instead of Page<T>"
Please do a quick search on Github issues first, there might be already a duplicate issue for the one you are about to create.
If the bug is trivial, just go ahead and create the issue. Otherwise, please take a few moments and fill in the following sections:

**Bug description**
`java.lang.ClassCastException: class org.springframework.data.domain.SliceImpl cannot be cast to class org.springframewo

[2022-05-18 15:56] benas commented on #4075
Closing this since 4.3.6 has been released: https://github.com/spring-projects/spring-batch/releases/tag/4.3.6.

[2022-05-18 15:56] #4075 closed

[2022-05-19 15:41] lcmarvin opened #4116 "Provide a callback after all chunks which could effect StepExecution's status if it fails"
SpringBatch have many listeners we can use to do some callback, these listeners almost cover all the lifecycle of `JobExecution` and `StepExecution`. But I have a scenario like this: I have something to do after all chunks completed, and I hope that if it fails, the status of `StepExecution` could be FAILED, so I can re-run it later. I found `StepExecutionListener#afterStep` would be called after

[2022-05-24 09:49] hadiyarajesh opened #4117 "startStatement() should not be required in Neo4jItemReader"
**Bug description**
In `Neo4jItemReaderBuilder`, `startStatement(String startStatement)` is required, but Neo4j itself deprecated the START statement and throw error when used. If not used, application will throw `BeanCreationException` with message `java.lang.IllegalArgumentException: startStatement is required.`

**Environment**
Spring Boot: `2.7.0`
Kotlin: `1.6.10`
Neo4j: `4.4.4`

**Steps to re

[2022-05-25 21:05] benas opened #4118 "Apply Spring Java Format code style"
For consistency with other projects from the portfolio, Spring Batch should follow the code style rules defined in the [spring-javaformat-maven-plugin](https://github.com/spring-io/spring-javaformat).

These rules should be enforced in the build process to make sure that all code changes made by the Batch team as well as all contributions from the community through pull requests respect the Spring

[2022-05-25 21:08] #4118 closed

[2022-05-25 22:11] omerk706 commented on #1008
Are there any updates on this subject?
I do see the point in @benas comment, and I understand there will be a lot of rewriting to do.
But wasn't a similar thing done to allow webflux?

I see a usecase in my workplace where a huge amount of data being read from a Hadoop cluster record by record, collecting data from external services for each record, then processing and submitting the result on a m

[2022-06-04 17:59] javaHelper opened #4119 "Spring Batch ItemWriteListener and SkipListener doesn't work hand in hand"
I'm facing the same issue as mentioned here: https://stackoverflow.com/questions/65844852/spring-batch-itemwritelistener-and-skiplistener-doesnt-work-hand-in-hand/65881921#65881921

An idea is I want to write an item into DB, looks like as suggested, Tx not working to save into DB

data access code within this callback will still "participate" in the original transaction
**unless it declares that

[2022-06-04 18:03] corneil commented on #4119
The answer on the Stackoverflow question linked provides the answer you need.

[2022-06-07 09:55] hpoettker opened #4121 "Maven surefire uses wrong provider for Spring Batch Core"
### Issue

There are failing tests in Spring Batch Core. Both on the main branch and in the release 5.0.0-M3. They are in the classes

- `InlineDataSourceDefinitionTests`
- `JobBuilderConfigurationTests`
- `JobLoaderConfigurationTests`
- `TransactionManagerConfigurationWithBatchConfigurerTests`
- `TransactionManagerConfigurationWithoutBatchConfigurerTests`
- `ConcurrentTransactionTests`

During a

[2022-06-07 11:09] fmbenhassine opened #4122 "Change DefaultExecutionContextSerializer to produce Base64"
The `DefaultExecutionContextSerializer` uses `DefaultSerializer` and `DefaultDeserializer` from Spring Framework which are both based on Java's built-in object serialization/deserialization mechanisms. Java's object serialization is known to be vulnerable and its usage in SF will be deprecated in v6. Here is an excerpt from [SerializationUtils](https://docs.spring.io/spring-framework/docs/current/

[2022-06-07 11:17] fmbenhassine opened #4123 "Rename SimpleJobLauncher to TaskExecutorJobLauncher"
`SimpleJobLauncher` is not explicit about the infrastructure used to launch jobs. `TaskExecutorJobLauncher` is more explicit about that and is consistent with the naming used for other utilities like `TaskExecutorPartitionHandler` and `TaskExecutorRepeatTemplate`.

[2022-06-08 08:07] benas opened #4126 "Change transaction manager type to JdbcTransactionManager in default batch configuration"
Compared to `DataSourceTransactionManager`, the `JdbcTransactionManager` adds common JDBC exception translation which can be beneficial for Spring Batch to improve exception handling and error reporting.

This issue is to change the type of the transaction manager from `DataSourceTransactionManager` to `JdbcTransactionManager` in the default configuration of `@EnableBatchProcessing`.

[2022-06-08 09:02] benas commented on #4121
Good catch! This will be fixed in priority.

[2022-06-08 09:06] benas commented on #4030
Closing this for now. We can re-open it once a minimal complete example that reproduces the issue is provided.

[2022-06-08 09:06] #4030 closed

[2022-06-08 10:45] fmbenhassine opened #4128 "Move build process to Github Actions"
The release process is already on Github Actions ("Maven Central Staging" workflow). This issue is about the build process. The goal is to create a workflow to:

* [x] build/test the project
* [x] deploy artifacts to artifactory
* [x] deploy the reference documentation and javadaocs to the documentation server
* [x] deploy XSDs to the schemas server
* [x] publish sonar results

[2022-06-09 09:28] amit-github-personal commented on #4107
Hello @benas, can I submit a PR for this?

[2022-06-09 09:40] benas commented on #4107
Hi @amit-github-personal , thank you for your offer to help! There is already a PR for this issue: #4108 . If you want to help, you can for example review it and share your feedback if any. Thanks again.

[2022-06-09 11:20] deepmalasrivastav commented on #1330
Hi , Is couchbase Reader is available in spring batch?

[2022-06-10 07:24] fmbenhassine opened #4130 "Inconsistent transaction manager configuration between XML and Java config styles"
With the XML configuration style, the transaction manager is configurable as an attribute of the `tasklet` element. This means other step types (partition step, flow step, etc) do not have this attribute, which makes sense since those step types do not require a transaction manager by design (see [here](https://github.com/spring-projects/spring-batch/blob/main/spring-batch-core/src/main/java/org/s

[2022-06-13 10:22] lcmarvin commented on #3960
Any update on this, how to define the default parameter's format?

[2022-06-13 15:05] lcmarvin commented on #4123
Please refer to PR #4131

[2022-06-15 04:26] lcmarvin commented on #3960
@benas Is it possible to add a command line option like `-parameterFile` to specify the path of job parameters file? This file could be `.json`, `.properties` or `.ymal`. For example,
[code]
[code]
[code]

I think this format may be more friendly for Spring Boot users, compared with `parameter(type)=value` and `+/-`.

[2022-06-15 08:59] fmbenhassine opened #4132 "Unable to read XML data without spring-tx in the classpath"
**Bug description**

Trying to read an XML file and unmarshall data to domain objects with `spring-oxm`/`xstream` does not work without having `spring-tx` in the classpath. The attached minimal complete example works as expected when `spring-tx` is in the classpath but fails with the following exception when `spring-tx` is not in the classpath:

[code]

**Environment**

* Java 8
* Spring Batch ver

[2022-06-16 13:08] javadi91m opened #4133 "while remote-partitioning with Kafka - master always continues the oldest job in the JobListener, although the completion signal might be for a different job"
**Bug description**
I'm using remote-partitioning with Kafka as the middleware. I have one manager and three workers. accordingly, one partition has been assigned for the manager's input topic and three partitions have been assigned for the worker's input.

the manager takes a job, creates multiples `ExecutionContext`s and sends those over Kafka. workers start processing the respective steps and s

[2022-06-17 13:10] benas commented on #4133
Thank you for the complete example! Nicely done 👍 However, we prefer to keep the issue tracker exclusively for bug reports and feature requests, see [Getting Help](https://github.com/spring-projects/spring-batch#getting-help). Support requests like this will be handled on StackOverflow. I asked for more details on your initial description on SO and was planning to follow up once your give more det

[2022-06-17 14:31] jgoldverg opened #4134 "Dynamic Commit interval support through StepExecution class."
I asked a question regarding if a  dynamic commit interval is possible [here](https://stackoverflow.com/questions/72567117/changing-the-number-of-running-steps-by-increasing-the-step-pool-size-in-spring) currently supported, and it is, but I believe the solution to be wrong.
The issue core issue I have is the current solution relies on dynamic commit interval being controlled through JobParameters

[2022-06-17 15:03] lcmarvin opened #4135 "Improve performance when polling replies in MessageChannelPartitionHandler"
Currently a for each loop is used in `MessageChannelPartitionHandler` to poll the partition StepExecutions.
[code]
When there are lots of partition StepExecutions, the method `org.springframework.batch.core.explore.JobExplorer#getStepExecution` will cause lots of repeated sql query on database. Take a look at the implementation of this method.
[code]
The JobInstance, JobExecution, JobParameters, J

[2022-06-21 13:26] benas opened #4137 "Unable to register an annotation-based StepExecutionListener in a fault-tolerant step"
As of v4.3.6, it is not possible to register an annotation-based `StepExecutionListener` in a fault-tolerant step. The following snippet does not compile:

[code]

This is because `org.springframework.batch.core.step.builder.FaultTolerantStepBuilder#listener(java.lang.Object)` returns  `SimpleStepBuilder` while it should return `FaultTolerantStepBuilder`. Note how all other methods that are relate

[2022-06-22 09:10] #4137 closed

[2022-06-22 09:46] fmbenhassine opened #4139 "4.3.7 Backported issues"
* #4137
* #4132
* #4142
* #4145
* #1502
* #4197

[2022-06-22 09:58] #4121 closed

[2022-06-22 10:00] benas commented on #4121
`junit-vintage-engine` test dependency has been added to `spring-batch-core` in 0b2a2c2. Failing tests will be fixed in a separate commit.

Thank you for raising this!

[2022-06-22 15:42] benas commented on #4133
This is a bug in Spring Batch. The listener is indeed called for the job that finishes earlier with the wrong `JobExecution` instance. Making the `JobExecutionListener` job-scoped does not solve the issue.

 Re-opening this issue for further investigation.

----

As a side note, the commands used to create topics in the attached minimal complete example should be updated as follows:

[code]

[2022-06-23 10:45] benas commented on #4134
Thank you for opening this issue.

In the SO answer you shared I mentioned that the chunk size could be made dynamic through application/system properties or job parameters. I deliberately put application/system properties first because I would recommend this way to configure such "technical" properties (chunk-size, thread-pool size, database connection pool size, etc). I would use job parameters

[2022-06-23 10:45] #4134 closed

[2022-06-23 11:02] benas commented on #4119
As mentioned by @corneil , the answer on SO already answers your question. I also added a comment as a reply to your feedback.

[2022-06-23 11:02] #4119 closed

[2022-06-23 12:59] benas commented on #4119
ok, try that and if you need further support, please update your question on SO and I will try to help there. We would like to keep the issue tracker exclusively for validated bug reports or feature requests, see [SUPPORT.md](https://github.com/spring-projects/spring-batch/blob/main/SUPPORT.md). Thank you for your comprehension.

[2022-06-24 07:57] karnik commented on #3936
Hi @benas, are there any plans to merge this pull request? we are also affected by this issue and the fix is working for us.

[2022-06-24 10:15] benas commented on #3936
Yes, we are intending to address this issue and review the attached PR.

@hillebrandt The prefix has been changed from `scopedTarget.` to `stepScopedTarget.` in https://github.com/spring-projects/spring-batch/commit/241d9f101f06a582f00522d26b5e8111efecb5b7 when implementing the job scope. I think the intention was to differentiate step-scoped beans from job-scoped ones. But I need to dig deeper to

[2022-06-28 11:56] benas opened #4140 "Revisit the default configuration of ExecutionContextSerializer with EnableBatchProcessing"
As of v4, the `Jackson2ExecutionContextStringSerializer` is used as the default (de)serializer when using `@EnableBatchProcessing`. While Jackson is definitely one of the best json processing libraries in the Java ecosystem, it has several issues:

* Several CVEs was reported against Jackson since it was introduced in Spring Batch in [v4 five years ago](https://spring.io/blog/2017/12/04/spring-bat

[2022-06-29 06:08] mdeinum commented on #4140
Maybe introduce (and document) an algorithm like Spring Boot does when selecting a `DataSource` to use depending on what is available on the classpath?

[2022-07-04 14:06] mhalbritter opened #4144 "Add native-image support for AbstractJobRepositoryFactoryBean"
When running the [native-image `batch` sample](https://github.com/spring-projects-experimental/spring-native/tree/sb-3.0.x/samples/batch) in the `sb-3.0.x` branch, it works in AOT mode, but fails in the native image:

[code]

It seems that there are some proxy hints missing: ` Proxy class defined by interfaces [interface org.springframework.batch.core.repository.JobRepository, interface org.spring

[2022-07-04 17:56] mdeinum commented on #4144
Related: https://github.com/spring-projects/spring-framework/issues/28745

[2022-07-06 17:22] hpoettker opened #4146 "Improve replication friendliness of the MySQL schema"
### Status quo

The table `BATCH_JOB_EXECUTION_PARAMS` currently has no primary key.

For a single node MySQL deployment, this does not cause any issue. For a setup of multiple nodes with replication, this is however not ideal as it causes performance problems with row-based replication and leads to ambiguity when calculating check sums over tables to validate the integrity of the replication.

To

[2022-07-07 09:13] tolpp commented on #3973
Hi, I also have added PR ( #4148 ) for this issue.  Similar discussion has been made for `templete` property in #1037, and resolved with PR #447 with commit cae2cabdce41ae9a67d4e469fb8b82ff4945a7d9. I did similar changes for this issue.

[2022-07-12 02:01] cgrings opened #4149 "Add support for bulk inserts in MongoItemWriter"
Currently there is support for the upsert and remove operations, I would like to suggest to add support for insert operation.

It would be nice to define an enum based set of operations (INSERT, UPSERT, REMOVE).

UPSERT will be the default operation (same behaviour as it is now) and the 'setDelete' method can be modified to set the REMOVE operation.

I am happy to submit a proposal in case the ide

[2022-07-13 17:20] benas commented on #4144
@mhalbritter Thank you for opening this issue. However, I'm not sure what should be done in Spring Batch (if any) to fix that. Can you offer some guidance here please?

https://github.com/spring-projects/spring-framework/issues/28745 has been fixed recently (after this issue was created), can you please check if the issue remains? I will give the batch sample a try on my side as well.

@mdeinum Th

[2022-07-13 17:58] fmbenhassine opened #4150 "Deprecate Hibernate support"
Due to https://github.com/spring-projects/spring-framework/issues/28813, we are intending to deprecate Hibernate support in Spring Batch in v5.0 for removal in v5.2.

[2022-07-14 06:34] mhalbritter commented on #4144
This could be indeed a problem in the Spring Framework. I will check the `batch` sample and add a CI job for it.

[2022-07-14 07:14] fmbenhassine opened #4151 "Add ExecutionContextSerializer implementation based on Gson"
The goal of this issue is to add an implementation of `ExecutionContextSerializer`  based on [Google's Gson](https://github.com/google/gson), to give our users the choice between at least two implementations (ie Jackson and Gson) out-of-the-box, as mentioned in #4140.

[2022-07-14 08:12] mhalbritter commented on #4144
Unfortunately, the [batch smoke test](https://ci.spring.io/teams/spring-aot-smoke-tests/pipelines/spring-aot-smoke-tests-1.0.x/jobs/batch/builds/1) still fails with the same error message (which you can see in the build scan linked in the CI at the bottom).

[2022-07-15 21:45] benas opened #4152 "Unable to build the project without an internet connection"
The following tests fail when trying to build the project without an internet connection:

* `HibernateCursorItemReaderBuilderTests`
* `HibernatePagingItemReaderBuilderTests`
* `JpaCursorItemReaderBuilderTests`
* `JpaPagingItemReaderAsyncTests`
* `JpaPagingItemReaderCommonTests`
* `JpaPagingItemReaderParameterTests`
* `JpaPagingItemReaderBuilderTests`

The error is the following:

[code]

[2022-07-16 13:29] m4rcc opened #4153 "Conditional Flow does not work as stated in official documentation"
The conditional flow does not work as stated in the official documentation (https://docs.spring.io/spring-batch/docs/current/reference/html/step.html#controllingStepFlow)

Tried with:
Spring Boot: 2.6.7 >> <spring-batch.version>4.3.5</spring-batch.version>  >> Java8
Spring Boot: 2.6.9 >> <spring-batch.version>4.3.6</spring-batch.version>  >> Java8

`@Bean
public Job job() {
	return this.jobBuilder

[2022-07-17 21:47] #4126 closed

[2022-07-17 21:48] #793 closed

[2022-07-18 16:44] #4132 closed, assigned to nobody

[2022-07-19 07:03] han1448 opened #4157 "JpaCursorItemReader read all rows in memory even though the cursor batch size is set"
**Bug description**
I am trying to read a large amount of data from postgresql using `JpaCursorItemReader`.
The postgresql driver basically reads all rows when using a cursor, so there is an OutOfMemoryError issue in this case.
https://jdbc.postgresql.org/documentation/head/connect.html#connection-parameters
I set the fetch size supported by the postgresql driver, but it didn't work.

I also set j

[2022-07-19 11:22] #773 closed

[2022-07-19 11:26] fmbenhassine commented on #3686
Resolved with #3989 .

[2022-07-19 11:29] fmbenhassine commented on #1098
Resolved with #3989 .

[2022-07-19 11:29] #1098 closed

[2022-07-19 11:59] #4123 closed

[2022-07-20 04:03] fmbenhassine opened #4159 "Add FieldExtractor implementation for Java records"
Similar to the `RecordFieldSetMapper` introduced in v4.3, the goal of this issue is to add an implementation of `FieldExtractor` (opposite concept of `FieldSetMapper`) for Java records.

[2022-07-20 05:05] fmbenhassine opened #4160 "Configure the right FieldSetMapper based on the type of items in FlatFileItemReaderBuilder"
Now that JDK 17 is the baseline for v5, the `FlatFileItemReaderBuilder` can use `java.lang.Class#isRecord` to detect if the type of items is a record or a regular class and configure the right `FieldSetMapper` accordingly (ie `RecordFieldSetMapper` for records and `BeanWrapperFieldSetMapper` for regular classes).

The goal of this issue is to implement this idea to make the configuration of the ri

[2022-07-20 05:11] #4160 closed

[2022-07-20 09:32] fmbenhassine opened #4161 "Configure the right FieldExtractor based on the type of items in FlatFileItemWriterBuilder"
Similar to #4160, the `FlatFileItemWriterBuilder` can use the `java.lang.Class#isRecord` API to detect if the type of items is a record or a regular class and configure the right `FieldExtractor` accordingly (ie `RecordFieldExtractor` for records and `BeanWrapperFieldExtractor` for regular classes).

The goal of this issue is to implement this idea to make the configuration of the right `FieldExtr

[2022-07-20 10:23] #4161 closed

[2022-07-20 17:05] #4107 closed

[2022-07-21 15:17] makigumo opened #4164 "setRepository() in RepositoryItemReader in 5.0.0-M4 broken"
**Bug description**
With https://github.com/spring-projects/spring-batch/commit/a30aaac4be6bdf66d21a252c87dd5d15b1239bd1 in [5.0.0-M4](https://github.com/spring-projects/spring-batch/releases/tag/5.0.0-M4) it is no longer possible to use queries in `RepositoryItemReader()` or `RepositoryItemReaderBuilder` that return a different type than the repository's entity type.

**Environment**
JKD 17.0.3,

[2022-07-21 17:23] makigumo commented on #4164
Related/Repeated issue: https://github.com/spring-projects/spring-batch/issues/1369

[2022-07-21 20:34] fmbenhassine commented on #4164
Thank you for raising this! I think the generic type was mistakenly changed as in: https://github.com/spring-projects/spring-batch/commit/b26d272d436d77bb6b4d0e7320387351937a1646#diff-268ec158a27f386faec50b4fff70ad0fe62c54b4a11cb6a1b146b789b4584d87R68. Will fix that in 5.0 M5.

[2022-07-25 04:57] acktsap commented on #4092
@svenmeier yes i'm calling afterPropertiesSet for all flow..

[2022-07-26 05:01] #4164 closed

[2022-07-27 13:18] mdeinum commented on #4157
I suspect the error here is your configuration. You are returning `ItemReader<TestEntity>` which is just an `ItemReader`. Where you should be returning an `ItemStreamReader<TestEntity>` or `JpaCursorItemReaderBuilder<TestEntity>`. That way the configuration knows (and Spring Batch in the end) that there is an `update` method that needs to be called which will call `entityManager.clear`.

The `clea

[2022-07-27 13:40] fmbenhassine opened #4166 "Migrate tests to JUnit Jupiter"
This issue is to track the migration of the test suite from JUnit 4 to JUnit 5:

- [x] spring-batch-infrastructure: #4125
- [x] spring-batch-core: #4172
- [x] spring-batch-test: #4174
- [x] spring-batch-integration: #4124
- [x] spring-batch-samples: #4173

[2022-07-27 22:37] Buzzardo opened #4168 "Asciidoctor errors"
When the documentation generation process runs, it throws some errors: headings out of order in a few places and a few invalid references. The fix is to go through each of those files to correct the heading levels and track down the invalid references (and either correct them or remove them).

[2022-07-27 22:38] Buzzardo commented on #4168
You can assign this one to me.

[2022-07-28 12:12] df007df commented on #796
I had the same problem, and here's how I configured it.
I want the specific dataSource can be specified.

Whether the dataSource can be injected to `BatchConfigurer`.
Because we are now using `DefaultBatchConfigurer(dataSource)` to inject the specific used.

Affects: 4.3.6

[2022-07-29 13:30] glaz666 opened #4169 "Running a job causes retrieval of full history of job executions"
When running a job via `SimpleJobLauncher#run` , it creates new JobExecution, but retrieves all executions of the job from database:
https://github.com/spring-projects/spring-batch/blob/f5041e6d7038bf4d34c627cfde1f21be4b0badbc/spring-batch-core/src/main/java/org/springframework/batch/core/repository/support/SimpleJobRepository.java#L116

The approach to create new executions should be revised towa

[2022-07-30 00:43] umbum opened #4170 "Log messages inside the constructor of scoped bean could be ignored."
**Bug description**
When the uninitialized scoped bean is passed to slf4j log method, log messages inside the constructor of scoped bean are ignored.

**Environment**
[code]

**Steps to reproduce**
**Minimal Complete Reproducible example**

[code]
[code]

#### result
[code]

**Expected behavior**
`### meta:fieldA fieldA` have to be printed.

[2022-08-01 08:19] han1448 commented on #4157
@mdeinum
Thanks for your comment.
I've already tested the method (`ItemStreamReader`,  `JpaCursorItemReader`) you mentioned, but it didn't work.
It seems to be due to a JPA nature, but I haven't found the cause yet. Looks like I'll have to check some more.

[2022-08-01 09:08] mdeinum commented on #4157
There is a call to `clear` in the `ItemReader` which will only be called on an update of the `ItemStreamReader`. If that doesn't happen the entities remain in your 1st level cache. Another thing is the same applies to the writer, you should `clear` after the list else those will remain in the 1st level cache.

[2022-08-02 16:52] fmbenhassine commented on #4166
Refinements like those done for `spring-batch-infrastructure` in #4175 can be done later for other modules. Improving test suites is a non-ending task, so I'm closing this for now as it is already a huge improvement to Spring Batch's test suite.

A BIG thank you to @hpoettker for this absolutely amazing contribution! REALLY appreciated 👍